{% extends "base.html" %}
{% block styles %}
	<link href="css/increment-asset.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="contentpanel no-padding" style="background: #828283">
	<div class="col-md">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title"
					style="text-align: center; line-height: 10px">GIẢM TÀI SẢN</h4>
			</div>
			<form method="post">
				<div class="panel-body">
					<div class="row row-pad-5">
						<div class="alert alert-warning">
							<div class="row">
								<div class="col-lg-4">
									<select id="asset_code" class="form-control chosen-select"
										data-placeholder="Đơn vị" style="display: none;"
										name = "slDept">
										<option value=""></option>
										{% for dept in depts %}
											<option value="{{ dept.id }}">{{ dept.code }} - {{ dept.name }}</option>
										{% endfor%}
									</select>
								</div>
								<div class="col-lg-4">
									<select id="asset_code" class="form-control chosen-select"
										data-placeholder="Kho" style="display: none;"
										name = "slDept">
										<option value=""></option>
									</select>
								</div>
								<div class="col-lg-4">
									<select id="asset_code" class="form-control chosen-select"
										data-placeholder="Số thẻ TSCĐ"
										style="display: none;">
										<option value=""></option>
										<option value="United States">TTVTT</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<input type="text" name="origin_price"
										placeholder="Nguồn Vốn" class="form-control" disabled="disabled">
								</div>

								<div class="col-lg-4">
									<input type="text" name="origin_price"
										placeholder="Nguyên Giá" class="form-control" disabled="disabled">
								</div>
								<div class="col-lg-4">
									<input type="text" name="remain_amount"
										placeholder="Giá trị còn lại" class="form-control" disabled="disabled">
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-6">
									<select id="asset_code" class="form-control chosen-select"
										data-placeholder="Lý do giảm.." style="display: ;">
										<option value=""></option>
										<option value="United States">TTVTT</option>
									</select>
								</div>
								
								<div class="col-lg-6">
									<div class="input-group">
										<input type="text" class="form-control"
											data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="Ngày ghi giảm (mm/dd/yyyy)" id="buy_date"> <span
											class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg">
									<textarea class="form-control" name="note" rows="4"
										placeholder="Ghi chú"></textarea>
								</div>
							</div>
							
							<!--row-->
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm col-sm-offset-5">
							<button class="btn btn-primary">In biên bản</button>
							<button class="btn btn-primary">Thực hiện</button>
						</div>
					</div>
				</div>
				<!-- panel body-->
			</form>
		</div>
		<!-- panel -->
	</div>
</div>
{% endblock %} 
{% block scripts %}
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>

<script src="js/jquery.autogrow-textarea.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>
<script src="js/jquery-ui-1.10.3.min.js"></script>

<script src="js/custom.js"></script>

<script>
$(document).ready(function(){
	// Chosen Select
		$(".chosen-select").chosen({
			'width' : '100%',
			'white-space' : 'nowrap'
		});
		// Date Picker
		$('#buy_date').datepicker({
			dateFormat : 'dd/mm/yy',
		});

		// Input Masks
		$('#buy_date').mask("99/99/9999");
	});
</script>
{% endblock scripts%}