{% extends "base.html" %}
{% block styles %}
	<link href="/css/increment-asset.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="contentpanel no-padding" style="background: #828283">
	<form class="form-horizontal form-bordered" novalidate="novalidate" method="post" id="incrementAsset">
		{% csrf_token %}
		<div class="panel panel-primary">
			<div class="panel-body">
				{% if has_error %}
					<div class="panel">
						<label class="error">{{ has_error }}</label>
					</div>
				{% endif %}
				<div class="alert alert-info" style="padding: 10px;">
					<div class="form-group">
						<div class = "row row-pad-5">
						
							<div class="col-lg-3">
								<label>Lý do</label>
								<select class="form-control chosen-select"
									data-placeholder="Lý do" name = "slReason" required>
									<option value></option>
									{% for reason in reasons %}
										<option value="{{ reason.id }}">{{ reason.code }} - {{ reason.name }}</option>
									{% endfor%}
								</select>
							</div>
						
							<div class="col-lg-3">
								<label>Mã nhận diện</label>
								<select id="" class="form-control chosen-select"
									data-placeholder="Mã nhận diện ..." 
									name = "slAsset">
									<option value=""></option>
									{% for asset in assets%}
										<option value="{{ asset.id }}">{{ asset.code }} - {{ asset.name }}</option>
									{% endfor%}
								</select>
							</div>
							<div class="col-lg-6">
								
								<div class="col-lg-4">
									<label>Tên tài sản</label>
									<input type="text" name="txtAssetName" placeholder="Tên tài sản"
										class="form-control" required>
								</div>
								
								<div class="col-lg-4">
									<label>Số thẻ TSCĐ</label>
									<input type="text" name="txtSerial" placeholder="Số thẻ TSCĐ"
										class="form-control" required>
								</div>
								
								<div class="col-lg-4">
									<label>Dự án</label>
									<select class="form-control chosen-select"
										data-placeholder="Dự án" 
										name = "slProject">
										<option value=""></option>
										{% for project in projects %}
											<option value="{{ project.id }}">{{ project.code }} - {{ project.name }}</option>
										{% endfor%}
									</select>
								</div>
								
							</div>
							
						</div>
						<!-- --------------------------------END OF ROW PAD 5-------------------------------------- -->
						
						<div class = "row row-pad-5">
							
							<div class="col-lg-3">
								<label>Nguồn vốn</label>
								<select id="" class="form-control chosen-select"
									data-placeholder="Nguồn vốn" 
									name = "slCapital">
									<option value=""></option>
									{% for capital in capitals %}
										<option value="{{ capital.id }}">{{ capital.code }} - {{ capital.name }}</option>
									{% endfor%}
								</select>
							</div>
							
							
							<div class="col-lg-3">
								<label>Mục đích sử dụng</label>
								<select id="" class="form-control chosen-select"
									data-placeholder="Mục đích sử dụng" 
									name = "slGoal">
									<option value=""></option>
									{% for goal in goals %}
										<option value="{{ goal.id }}">{{ goal.code }} - {{ goal.name }}</option>
									{% endfor%}
								</select>
							</div>
							<div class="col-lg-6">
								<div class="col-lg-4">
									<label>Hiện trạng sử dụng</label>
									<select id="" class="form-control chosen-select"
										data-placeholder="Hiện trạng sử dụng" 
										name = "slState">
										<option value=""></option>
										{% for state in states %}
											<option value="{{ state.id }}">{{ state.code }} - {{ state.name }}</option>
										{% endfor%}
									</select>
								</div>
								
								<div class="col-lg-4">
									<label>Phương pháp tính</label>
									<select id="" class="form-control chosen-select"
										data-placeholder="Phương pháp tính" 
										name = "slMethod">
										<option value=""></option>
										{% for method in methods %}
											<option value="{{ method.id }}">{{ method.code }} - {{ method.name }}</option>
										{% endfor%}
									</select>
								</div>
								
								<div class="col-lg-4">
									<label>Số năm khấu hao</label>
									<input type="text" name="txtInterval" placeholder="Số năm khấu hao"
										class="form-control numberic" maxlength="2">
								</div>
								
							</div>
						</div>

						<!-- --------------------------------END OF ROW PAD 5-------------------------------------- -->

						<div class = "row row-pad-5">

							<div class="col-lg-2">
								<label>Nguyên Giá</label>
								<input type="text" name="txtOriginPrice" placeholder="Nguyên Giá"
									class="form-control numberic" required maxlength="15">
							</div>
							
							<div class="col-lg-2">
								<label>Giá trị còn lại</label>
								<input type="text" name="txtRemainAmount"
									placeholder="Giá trị còn lại" class="form-control numberic" required maxlength="15">
							</div>
							
							<div class="col-lg-2">
								<label>Model</label>
								<input type="text" name="txtModel" placeholder="Model"
									class="form-control" required>
							</div>
							
							<div class="col-lg-2">
								<label>Công xuất</label>
								<input type="text" name="txtPower" placeholder="Công xuất"
									class="form-control numberic" maxlength="10">
							</div>
							
							<div class="col-lg-2">
								<label>Số quyết định</label>
								<input type="text" name="txtDecisionNo" placeholder="Số quyết định"
									class="form-control">
							</div>
							
							<div class="col-lg-1">
								<label>TT tài liệu</label>
								<select  class="form-control chosen-select"
									data-placeholder="Tài liệu" 
									name = "slDocumentStatus" >
										<option value="1" selected="selected">Có</option>
										<option value="0">Không</option>
								</select>
							</div>
							
							<div class="col-lg-1">
								<label>Nguồn gốc</label>
								<select class="form-control chosen-select"
									data-placeholder="Nguồn gốc" 
									name = "slSource">
									<option value=""></option>
									{% for source in sources %}
										<option value="{{ source.code }}">{{ source.code }} - {{ source.name }}</option>
									{% endfor%}
								</select>
							</div>

						</div>
						<!-- --------------------------------END OF ROW PAD 5-------------------------------------- -->
						<div class = "row row-pad-5">
						
							<div class="col-lg-2">
								<label>Bộ phận</label>
								<select id="slDept" class="form-control chosen-select"
									data-placeholder="Bộ phận" 
									name = "slDept">
									<option value=""></option>
									{% for dept in depts %}
										<option value="{{ dept.id }}">{{ dept.code }} - {{ dept.name }}</option>
									{% endfor%}
								</select>
							</div>
						

							<div class="col-lg-2">
								<label>Kho</label>
								<select id="slStock" class="form-control chosen-select"
									data-placeholder="Kho" 
									name = "slStock">
									<option value=""></option>
									{% for stock in stocks %}
										<option dept_id ="{{ stock.dept.id }}" value="{{ stock.id }}">{{ stock.code }} - {{ stock.name }}</option>
									{% endfor%}
								</select>
							</div>
							
							<div class="col-lg-2">
								<label>Số lượng</label>
								<input type="text" name="txtQuantity" placeholder="Số lượng"
									class="form-control" required maxlength="3">
							</div>
							
							<div class="col-lg-6">
							
								<div class="col-lg-4">
									<label>Đơn vị tính</label>
									<select class="form-control chosen-select"
										data-placeholder="Đơn vị tính" 
										name = "slUnit">
										<option value=""></option>
										{% for unit in units %}
											<option value="{{ unit.name }}">{{ unit.code }} - {{ unit.name }}</option>
										{% endfor%}
									</select>
								</div>
								
								<div class="col-lg-4">
									<label>Xuất sứ</label>
									<select id="" class="form-control chosen-select"
										data-placeholder="Xuất sứ" 
										name = "slCountry">
										<option value=""></option>
										{% for country in countries %}
											<option value="{{ country.id }}">{{ country.code }} - {{ country.name }}</option>
										{% endfor%}
									</select>
								</div>
								
								<div class="col-lg-4">
									<label>Nhà cung cấp</label>
									<select id="" class="form-control chosen-select"
										data-placeholder="Nhà cung cấp" 
										name = "slSupplier">
										<option value=""></option>
										{% for supplier in suppliers %}
											<option value="{{ supplier.id }}">{{ supplier.code }} - {{ supplier.name }}</option>
										{% endfor%}
									</select>
								</div>
								
							</div>
							
						</div>
						<!-- -----------------------END OF ROW PAD 5 -->
					</div>
				</div>
				<div class="alert alert-info" style="padding: 10px;">
					<div class = "row row-pad-5">
						
						<div class="col-lg-2">
							<label>Ngày sản xuất</label>
							<div class="input-group">
								<input type="text" class="form-control"
									data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="Ngày sản xuất" id="product_date"
									name = "dtProductDate" required> <span
									class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						
						<div class="col-lg-2">
							<label>Ngày tính hao mòn</label>
							<div class="input-group">
								<input type="text" class="form-control"
									data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="Ngày tính hao mòn" id="atrophy_date"
									name = "dtAtrophyDate" required>
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						
						<div class="col-lg-2">
							<label>Ngày ghi tăng</label>
							<div class="input-group">
								<input type="text" class="form-control"
									data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="Ngày ghi tăng" id="up_date"
									name = "dtUpDate" required>
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						
						<div class="col-lg-2">
							<label>Ngày mua</label>
							<div class="input-group">
								
								<input type="text" class="form-control"
									data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="Ngày mua" id="buy_date"
									name = "dtBuyDate" required> <span
									class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						
						<div class="col-lg-2">
							<label>Ngày bắt đầu sử dụng</label>
							<div class="input-group">
								<input type="text" class="form-control"
									data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="Ngày bắt đầu sử dụng" id="start_use_date"
									name = "dtStartUseDate" required>
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						
						<div class="col-lg-2">
							<label>Ngày quyết định</label>
							<div class="input-group">
								<input type="text" class="form-control"
									data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="Ngày quyết định" id="dtDecision"
									name = "dtDecision" required>
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						
					</div> 
					<!-- ---------END OF ROW PAD 5 ------------------- -->
					<div class = "row row-pad-5">	
						
						<div class="col-lg-2">
							<label> Số seri</label>
							<input type="text" name="txtProductSeri" placeholder="Số seri..."
								class="form-control" required>
						</div>
						
						<div class="col-lg-2">
							<div class="ckbox ckbox-default" style="margin-top: 20%;">
								<input type="checkbox" name="ckChildAsset" id="ckChildAsset"> 
								<label for="ckChildAsset">Tài sản con</label>
							</div>
						</div>
						
						<div class="col-lg-2">
							<label>Tài sản cha</label>
							<select id = "slParent" class="form-control chosen-select"
								data-placeholder="Chọn TS cha" 
								name = "slParent" disabled="disabled">
								<option value=""></option>
								{% for parent in parents %}
									<option value="{{ parent.serial }}">{{ parent.serial }} - {{ parent.name }}</option>
								{% endfor%}
							</select>
						</div>
						
						<div class="col-lg-4">
							<textarea class="form-control" name="txtNote" rows="3" placeholder="Ghi chú" required></textarea>
						</div>

						<div class="col-lg-2">
							<button class="btn btn-primary  btn-block" style="min-height: 76px;" onclick=" return onSUbmitFormIncrement();">Thực hiện</button>
						</div>

					</div>
					<!-- row -->
				</div>
				
			</div>
			<!-- panel-body -->
		</div>
		<!-- panel body-->
	</form>
</div>

{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.autogrow-textarea.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.numeric.js"></script>

<script src="/js/custom.js"></script>

<script>
$(document).ready(function(){
  // Chosen Select
  $(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
  
  // Date Picker
  $('#dtDecision').datepicker({dateFormat: 'dd/mm/yy',});
  $('#buy_date').datepicker({dateFormat: 'dd/mm/yy',});
  $('#start_use_date').datepicker({dateFormat: 'dd/mm/yy',});
  $('#up_date').datepicker({dateFormat: 'dd/mm/yy',});
  $('#atrophy_date').datepicker({dateFormat: 'dd/mm/yy',});
  $('#product_date').datepicker({dateFormat: 'dd/mm/yy',});
  // Input Masks
  $("#dtDecision").mask("99/99/9999");
  $("#datepicker").mask("99/99/9999");
  $('#buy_date').mask("99/99/9999");
  $('#start_use_date').mask("99/99/9999");
  $('#up_date').mask("99/99/9999");
  $('#atrophy_date').mask("99/99/9999");
  $('#product_date').mask("99/99/9999");
  //Validation with select boxes
  $("#ckChildAsset").change(function() {
	if (this.checked)
			{
				$("#slParent").attr('disabled', false);
				$("#slParent").trigger("chosen:updated");
			} else
			{
				$("#slParent").attr('disabled', true);
				$("#slParent").trigger("chosen:updated");
			}

		});
	});
	//change slDept
	$('#slDept')
			.change(
					function()
					{

						var dept_id = $(this).find('option:selected').val();

						$("#slStock option[dept_id][dept_id='" + dept_id + "']")
								.show();
						$("#slStock option[dept_id][dept_id='" + dept_id + "']")
								.css("display", "block");
						$(
								"#slStock option[dept_id][dept_id!='" + dept_id
										+ "']").hide();

						$('#slStock').chosen('destroy');
						$('#slStock').prop("selectedIndex", -1);
						$('#slStock').chosen();

					});
	jQuery(window).load(function()
	{
		$(".numberic").numeric();
	});
	function onSUbmitFormIncrement()
	{
		var $valid = jQuery('#incrementAsset').valid();
		if (!$valid)
		{
			$validator.focusInvalid();
			return false;
		} else
		{
			jQuery('#incrementAsset').submit();
		}
	}
</script>
{% endblock scripts%}