{% extends "base.html" %}
{% block styles %}
	<link href="/css/increment-asset.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="contentpanel no-padding" style="background: #828283">
	<form class="form-horizontal form-bordered" novalidate="novalidate" method="post" id="incrementAsset">
		{% csrf_token %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title"
					style="text-align: center; line-height: 10px">TĂNG TÀI SẢN</h4>
			</div>
			
			<div class="panel-body">
				{% if has_error %}
					<div class="panel">
						<label class="error">{{ has_error }}</label>
					</div>
				{% endif %}
				<div class="form-group">
					<div class = "row row-pad-5">
						<div class="col-lg-6">
							<select id="" class="form-control chosen-select"
								data-placeholder="Tài sản" style="display: none;"
								name = "slAsset">
								<option value=""></option>
								{% for asset in assets%}
									<option value="{{ asset.id }}">{{ asset.code }} - {{ asset.name }}</option>
								{% endfor%}
							</select>
						</div>
						
						<div class="col-lg-6">
							<select class="form-control chosen-select"
								data-placeholder="Lý do" name = "slReason" required>
								<option value></option>
								{% for reason in reasons %}
									<option value="{{ reason.id }}">{{ reason.code }} - {{ reason.name }}</option>
								{% endfor%}
							</select>
						</div>
						
					</div>
					
					<div class = "row row-pad-5">
						<div class="col-lg-6">
							<select id="" class="form-control chosen-select"
								data-placeholder="Nguồn vốn" style="display: none;"
								name = "slSource">
								<option value=""></option>
								{% for source in sources %}
									<option value="{{ source.id }}">{{ source.code }} - {{ source.name }}</option>
								{% endfor%}
							</select>
						</div>
						
						<div class="col-lg-6">
							<select id="" class="form-control chosen-select"
								data-placeholder="Phương pháp tính" style="display: none;"
								name = "slMethod">
								<option value=""></option>
								{% for method in methods %}
									<option value="{{ method.id }}">{{ method.code }} - {{ method.name }}</option>
								{% endfor%}
							</select>
						</div>
					</div>
					
					<div class = "row row-pad-5">
						<div class="col-lg-6">
							<select id="" class="form-control chosen-select"
								data-placeholder="Nhà cung cấp" style="display: none;"
								name = "slSupplier">
								<option value=""></option>
								{% for supplier in suppliers %}
									<option value="{{ supplier.id }}">{{ supplier.code }} - {{ supplier.name }}</option>
								{% endfor%}
							</select>
						</div>
						
						<div class="col-lg-6">
							<select id="" class="form-control chosen-select"
								data-placeholder="Xuất sứ" style="display: none;"
								name = "slCountry">
								<option value=""></option>
								{% for country in countries %}
									<option value="{{ country.id }}">{{ country.code }} - {{ country.name }}</option>
								{% endfor%}
							</select>
						</div>
					</div>
					
					<div class = "row row-pad-5">
						<div class="col-lg-6">
							<select id="slDept" class="form-control chosen-select"
								data-placeholder="Đơn vị" style="display: none;"
								name = "slDept">
								<option value=""></option>
								{% for dept in depts %}
									<option value="{{ dept.id }}">{{ dept.code }} - {{ dept.name }}</option>
								{% endfor%}
							</select>
						</div>
						
						<div class="col-lg-6">
							<select id="slStock" class="form-control chosen-select"
								data-placeholder="Kho" style="display: none;"
								name = "slStock">
								<option value=""></option>
								{% for stock in stocks %}
									<option dept_id ="{{ stock.dept.id }}" value="{{ stock.id }}">{{ stock.code }} - {{ stock.name }}</option>
								{% endfor%}
							</select>
						</div>
					</div>
					<div class = "row row-pad-5">
						<div class="col-lg-6">
							<select id="" class="form-control chosen-select"
								data-placeholder="Mục đích sử dụng" style="display: none;"
								name = "slGoal">
								<option value=""></option>
								{% for goal in goals %}
									<option value="{{ goal.id }}">{{ goal.code }} - {{ goal.name }}</option>
								{% endfor%}
							</select>
						</div>
						
						<div class="col-lg-6">
							<select id="" class="form-control chosen-select"
								data-placeholder="Hiện trạng sử dụng" style="display: none;"
								name = "slState">
								<option value=""></option>
								{% for state in states %}
									<option value="{{ state.id }}">{{ state.code }} - {{ state.name }}</option>
								{% endfor%}
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class = "row row-pad-5">
						<div class="col-lg-3">
							<div class="input-group">
								<input type="text" class="form-control"
									data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="Ngày mua" id="buy_date"
									name = "dtBuyDate" required> <span
									class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>

						<div class="col-lg-3">
							<div class="input-group">
								<input type="text" class="form-control"
									data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="Ngày bắt đầu sử dụng" id="start_use_date"
									name = "dtStartUseDate" required>
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						
						<div class="col-lg-3">
							<div class="input-group">
								<input type="text" class="form-control"
									data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="Ngày ghi tăng" id="up_date"
									name = "dtUpDate" required>
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>

						<div class="col-lg-3">
							<div class="input-group">
								<input type="text" class="form-control"
									data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="Ngày tính hao mòn" id="atrophy_date"
									name = "dtAtrophyDate" required>
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class = "row row-pad-5">
						<div class="col-lg-4">
							<input type="text" name="txtOriginPrice" placeholder="Nguyên Giá"
								class="form-control numberic" required maxlength="15">
						</div>
						
						<div class="col-lg-4">
							<input type="text" name="txtRemainAmount"
								placeholder="Giá trị còn lại" class="form-control numberic" required maxlength="15">
						</div>
						<div class="col-lg-4">
							<input type="text" name="txtSerial" placeholder="Số thẻ TSCĐ"
								class="form-control" required>
						</div>
					</div>
				</div>
					
				<!-- row -->

				<textarea class="form-control" name="txtNote" rows="2"
					placeholder="Ghi chú" required></textarea>

			</div>
			<!-- panel-body -->
			<div class="row">
				<div class="col-sm col-sm-offset-5" >
					<div class="panel-footer" style="border-top: none;">
						<button class="btn btn-primary" onclick=" return onSUbmitFormIncrement();">Thực hiện</button>
					</div>
				</div>
			</div>
		
		</div>
		<!-- panel body-->
	</form>
</div>

{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.autogrow-textarea.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.numeric.js"></script>

<script src="/js/custom.js"></script>

<script>
$(document).ready(function(){
  // Chosen Select
  $(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
  
  // Date Picker
  $('#buy_date').datepicker({dateFormat: 'dd/mm/yy',});
  $('#start_use_date').datepicker({dateFormat: 'dd/mm/yy',});
  $('#up_date').datepicker({dateFormat: 'dd/mm/yy',});
  $('#atrophy_date').datepicker({dateFormat: 'dd/mm/yy',});
  
  // Input Masks
  $("#datepicker").mask("99/99/9999");
  $('#buy_date').mask("99/99/9999");
  $('#start_use_date').mask("99/99/9999");
  $('#up_date').mask("99/99/9999");
  $('#atrophy_date').mask("99/99/9999");
  
  //Validation with select boxes
});
//change slDept
$('#slDept').change(function(){
	
	var dept_id = $(this).find('option:selected').val();
	
	$("#slStock option[dept_id][dept_id='" + dept_id + "']").show();
	$("#slStock option[dept_id][dept_id='" + dept_id + "']").css("display", "block");
	$("#slStock option[dept_id][dept_id!='" + dept_id + "']").hide(); 
	
	$('#slStock').chosen('destroy');
	$('#slStock').prop("selectedIndex", -1);
	$('#slStock').chosen();
	
});
jQuery(window).load(function(){ 
	$(".numberic").numeric();
});
function onSUbmitFormIncrement()
{
	var $valid = jQuery('#incrementAsset').valid();
	if (!$valid) {
		$validator.focusInvalid();
		return false;
	}
	else{
		jQuery('#incrementAsset').submit();
	}
}
</script>
{% endblock scripts%}