{% extends "base.html" %}
{% load i18n %}
{% block styles %}

<link href="/css/custom.css" rel="stylesheet">
<link rel="stylesheet" href="/tree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<style>
.ztree {
	border: 1px solid #617775;
	background: #f0f6e4;
	height: 400px;
	overflow-y: scroll;
	overflow-x: auto;
}
</style>
{% endblock styles %}

{% block content %}
<div class="modal fade" id="modalPermission" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-lg-4">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">{% trans 'Phân quyền tài khoản' %}</h4>
			</div>
			
			<div class="modal-body">
				{% trans 'Danh sách quyền hệ thống' %}
				<ul id="treePermission" class="ztree"></ul>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="savePermission">{% trans 'Lưu' %}</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Đóng' %}</button>
			</div>
		</div>
	</div>
</div>
<div class="contentpanel" style="background:#828283">
	<div class="col-md" >
	  <div class="panel panel-primary">
		<div class="panel-heading">
		  <h4 class="panel-title" style="text-align:center;">QUẢN LÝ TÀI KHOẢN HỆ THỐNG</h4>
		</div>
		<div class="panel-body" style="min-height: 500px;">
		  <div class="row row-pad-5">
			<div class="alert alert-warning" style= "height: 120px;width: 98%;margin-left: 1%">

				<div class="col-lg-4">
					<input type="text" id="user_name" name="" placeholder="Tên đơn vị" class="form-control">
				</div>
				<div class="col-lg-8">
				  <input type="text" id="full_name" name="" placeholder="Tên đơn vị" class="form-control">
				</div>
			
				<div class="col-lg-4">
				  <input type="text" id="email" name="" placeholder="Mã nhân viên (Tài khoản đăng nhập)" class="form-control">
				</div>
				<div class="col-lg-4">
				  <input type="text" id="first_name" placeholder="Họ và đệm" class="form-control">
				</div>
				<div class="col-lg-4" >
				  <input type="text" id="last_name" placeholder="Tên nhân viên" class="form-control">
				</div>
			
			
			</div> <!-- alert alert-warning -->
			<div class="col-sm" >

					<div class="table-responsive">
						<table class="table table-bordered" id="usertable">
							<thead>
								<tr>
									<th>STT</th>
									<th>Tài khoản </th>
									<th>Họ </th>
									<th>Tên</th>
									<th>Email </th>
									<th>Ngày tạo</th>
									<th>Sửa/Xoá</th>
									<th>Phân quyền</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
								<tr class="odd gradeX" user_id ="{{ user.id }}"
									 user_first_name ="{{ user.first_name }}" user_last_name ="{{ user.last_name }}"
									 user_name = "{{ user.username }}" email = "{{ user.email }}">
									<td>{{forloop.counter}}</td>
									<td><a href="/user/{{ user.id }}/">{{ user.username }}</a></td>
									<td>{{ user.first_name }}</td>
									<td>{{ user.last_name }}</td>
									<td>{{ user.email }}</td>
									<td>{{ user.date_joined }}</td>
									<td class="table-action">
										<a href="/user/{{ user.id }}/"><i class="fa fa-pencil"></i></a>
										<a href="#" data="" onclick="deleteUser('{{ user.id }}');" class="delete-row confirm"><i class="fa fa-trash-o"></i></a>
										 <form method="post" id="deleteUser{{ user.id }}" action="/user/delete/{{ user.id }}/">
										  {% csrf_token %}
										  <input type="hidden" name="hd_device_pro" value="{{ user.id }}">
										  <input type="hidden" name="type" value="deleteDeviceProperty">
										 </form>
									</td>
									
									<td class="table-action">
										<a href="#" id="btnPermission" user-id = {{ user.id }}><i class="fa fa-pencil"></i></a>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<!-- table-responsive -->
				</div> <!--row-->
			</div><!-- row -->

		  </div><!-- panel-body -->
		<div class="panel-footer">
			<a class="btn btn-primary" href="/user/add/">Thêm tài khoản</a>
		</div>
	  </div><!-- panel body-->
	</div>
</div> <!-- content panel -->

{% endblock content %}

{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script type="text/javascript" src="/tree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/tree/js/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="/tree/js/jquery.ztree.exedit-3.5.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js" ></script> 

<script src="/js/jquery.datatables.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>

<script src="/js/custom.js"></script>
<script src="/js/loading.js"></script>
<script src="/js/message.js"></script>
<script src="/js/api.js"></script>
<script>
	jQuery(document).ready(function() {
		$("a[id^='btnPermission']").on('click',function(){
			fillModule("3",$(this).attr("user-id"));
		});
		$('#savePermission').on('click',function(){
			
			var treeObj = $.fn.zTree.getZTreeObj("treePermission");
			alert(JSON.stringify(treeObj.getNodesByParam("type", "P", null)));
		});
		jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
		
		$('#usertable').dataTable({
			"sPaginationType" : "full_numbers",
			"aoColumnDefs": [{"bSortable": false,"aTargets": [-1,-2]}],
		});
		// Chosen Select
		$("select").chosen({
				'min-width' : '150px',
				'white-space' : 'nowrap',
				disable_search_threshold : 10
		});
		//onclick tr table
		$('#usertable tbody tr').click(function(e)
			{
				//get
				var user_id = $(this).attr('user_id');
				var user_first_name = $(this).attr('user_first_name');
				var user_last_name = $(this).attr('user_last_name');
				var user_name = $(this).attr('user_name');
				var email = $(this).attr('email');
				//set
				clickRow(user_id,user_name,email,user_first_name,user_last_name);
			});
	});
	function deleteUser(user_id)
	{
		var message = $.message.confirm("Bạn thực sự muốn xoá tài khoản "+ user_id);
		message.on('message.confirm',function(){
			jQuery('#deleteUser' + user_id).submit();
		});
	}
	function clickRow(user_id,user_name,email,first_name,last_name)
	{
		//#A94442
		$("#usertable tbody tr[user_id][user_id='"+ user_id +"']").css('background-color','#1d2939');
		//$("#usertable tbody tr[user_id][user_id='"+ user_id +"']").css('color','#fff');
		$("#usertable tbody tr[user_id][user_id!='"+ user_id +"']").css('background-color','#fff');
		
		$("#first_name").val(first_name);
		$("#last_name").val(last_name);
		$("#full_name").val(first_name+ " " + last_name);
		$("#email").val(email);
		$("#user_name").val(user_name);
		$("#asset_code").val(user_id);
		
		$("#first_name").attr("disabled", "disabled");
		$("#last_name").attr("disabled", "disabled");
		$("#full_name").attr("disabled", "disabled");
		$("#email").attr("disabled", "disabled");
		$("#asset_code").attr("disabled", "disabled");
		$("#user_name").attr("disabled", "disabled");
	}
	jQuery(window).load(function(){ 
		//get
		var user_id = $("#usertable tbody tr[user_id]").first().attr('user_id');
		var user_first_name = $("#usertable tbody tr[user_id]").first().attr('user_first_name');
		var user_last_name = $("#usertable tbody tr[user_id]").first().attr('user_last_name');
		var user_name = $("#usertable tbody tr[user_id]").first().attr('user_name');
		var email = $("#usertable tbody tr[user_id]").first().attr('email');
		//set
		clickRow(user_id,user_name,email,user_first_name,user_last_name);
	});
	/**
	* @author TuanNA
	* @version 1.0
	* @params app_id, user_id
	* Call api load user permission
	* 
	*/
	function fillModule(app_id,user_id)
	{
		//show loading
		var csrftoken = $.cookie('csrftoken');
		var url = "{% url 'ajax-user-permission' user_id='p_user_id' %}".replace("p_user_id", user_id);
		var params = {'csrfmiddlewaretoken' : csrftoken,'app_id' : app_id,};
		$.api({
			url: url,
			params: params,
			success: function(data)
			{
				initTree(data);
			},
			error: function(data)
			{
				$.message.notice_error("{% trans 'Không thể lấy dữ liệu của user!'%}");
			}
		})
	}
	
	function initTree(data)
	{
		var setting = {
				treeId: "treePermission",
				check: {
					enable: true
				},
				view: {
					selectedMulti: false,
					showLine: false,
				},
				edit: {
					enable: false,
				},
				data : {
					key : {
						url: "",
					},
					simpleData : {
						enable : true,
						idKey: 'id',
						pIdKey: 'parent_id',
						rootPId: null,
					}
				},
				callback: {
					onClick: onClick
				}
			};
		var zNodes = data.modules;
		
		var tree = $.fn.zTree.init($("#treePermission"), setting, zNodes);
		//select default node
		if(tree.getNodes().length>0)
		{
			tree.selectNode(tree.getNodes()[0]);
		}
		//show modal
		$("#modalPermission").modal('show');
	}
	
	function onClick(e,treeId, treeNode) {
		var zTree = $.fn.zTree.getZTreeObj("treePermission");
		zTree.expandNode(treeNode);
	}
</script>
{% endblock scripts%}