{% extends "base.html" %}
{% load i18n %}
{% block styles %}
	<style>
		.no-padding
		{
			padding: 0px;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="contentpanel no-padding" >
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title"
					style="text-align: center; line-height: 10px">{% trans 'TÍNH KHẤU HAO TÀI SẢN' %}</h4>
			</div>
			
			<div class="panel-body">
				{% if has_error %}
					<div class="panel">
						<label id="error-text" class="error">{{ has_error }}</label>
					</div>
				{% endif %}
				<form class="form-horizontal form-bordered" novalidate="novalidate" method="post" id="amortize-asset">		
					{% csrf_token %}
					<div class = "row row-pad-5">
						<div class="col-lg-6">
							<label> {% trans 'Tháng tính khấu hao' %}</label>
							<div class="input-group">
								<input type="text" class="form-control" value = "{{ amortize_mon }}" readonly
									style ="padding:8px;"
									data-provide="datepicker" data-date-format="mm/yy"
									placeholder="{% trans 'Tháng tính khấu hao' %}" id="amortize_month" 
									name = "dtAmortizeMonth" required> <span
									class="input-group-addon"><i class="fa fa-calendar"
									></i></span>
							</div>
						</div>
						<div class="col-lg-6">
							<label> {% trans 'Số thẻ tài sản' %}</label>
							<!--  <input type="text" name="txtSerial" placeholder="{% trans 'Số thẻ tài sản' %}"
								class="form-control">-->
							<select id="slAssetSerial" class="form-control chosen-select"
								data-placeholder="Số thẻ tài sản" 
								name = "slAssetSerial" >
								<option value="">----{% trans 'Tất cả' %}----</option>
								{% for asset in assets%}
									<option value="{{ asset.serial }}" >{{ asset.serial }} - {{ asset.name }}</option>
								{% endfor%}
							</select>
						</div>
					</div>
				
				<!-- row -->
						
						
					<input type="hidden" name="submitForm" value="calculate"/>
						<div class="row row-pad-5" >
						<div class="col-sm col-sm-offset-5" style='float:right'>
								<button class="btn btn-primary" onclick=" return onCalculate();">{% trans 'Tính khấu hao' %}</button>
						</div>
					</div>
				</form>
				
				<form class="form-horizontal form-bordered" novalidate="novalidate" method="post" id="approve-amortize-asset">
					{% csrf_token %}
						<div class="col-sm" >
							<div class="table-responsive">
								<table class="table table-bordered" id="childAssetTable">
									<thead>
										<tr>
											<!--<th style='width: 1%;text-align: center;font-family: Arial,Helvetica,sans-serif;' >{% trans 'CHỌN' %}</th> -->
											<th style='width: 1%;text-align: center;font-family: Arial,Helvetica,sans-serif;' >											 	   												
											<!--  {% trans 'CHỌN' %}--> 
											<!--  <input type="checkbox" checked= "true" onclick="checkAll(this)">--> 												 
											</th>											
											<th style='width: 15%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'SỐ THẺ TÀI SẢN' %} </th>
											<th style='width: 5%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'THÁNG' %} </th>
											<th style='width: 15%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'NGUỒN VỐN' %} </th>
											<th style='width: 10%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'NGUYÊN GIÁ' %} </th>
											<th style='width: 10%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'KH ĐẦU KỲ' %} </th>											
											<th style='width: 10%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'KH TRONG KỲ' %} </th>
											<th style='width: 10%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'KH ĐC TRONG KỲ' %} </th>
											<th style='width: 10%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'GT CÒN LẠI' %} </th>											
											<th style='width: 10%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'PHƯƠNG PHÁP TÍNH' %} </th>
											<th style='width: 5%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'TRẠNG THÁI' %} </th>											
											<!--<th style='text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'PHƯƠNG PHÁP TÍNH' %} </th>
											<th style='text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'TRẠNG THÁI' %}</th> -->
										</tr>
									</thead>
									<tbody id="child-asset-table-body">										
										{% for amortizeAsset in amortize_assets %}
										<tr class="odd gradeX" id="{{ amortizeAsset.serial_no }}" value="{{ amortizeAsset.serial_no }}">
											<!--<td width='30'><input type="checkbox" id='{{ "child-asset-id-"|add:amortizeAsset.serial_no }}'  
												serial_no="{{ amortizeAsset.serial_no }}" month="{{ amortizeAsset.month|date:'m/Y' }}" 
												onClick="chooseAsset(this.id,this.checked)"
												{% if amortizeAsset.status != '00' %} disabled="disabled" {% endif %}
												style="text-align: center;"
												checked= "true"
												></td> -->
											<td width='1'></td>
											<td width='50'>{{ amortizeAsset.serial_no }}</td>
											<td>{{ amortizeAsset.month|date:'m/Y' }}</td>
											<td width='70'>{{ amortizeAsset.capital_name }}</td>
											<td class="currency" style="text-align: right;">{{ amortizeAsset.original_value }}</td>
											<td class="currency" style="text-align: right;">{{ amortizeAsset.sta_of_cycle }}</td>
											<td class="currency" style="text-align: right;">{{ amortizeAsset.amount }}</td>
											<td class="currency" style="text-align: right;">{{ amortizeAsset.adjustment }}</td>
											<td class="currency" style="text-align: right;">{{ amortizeAsset.remain }}</td>
											<td width='30'>{{ amortizeAsset.amortize_name }}</td>
											{% if amortizeAsset.status == '00' %}
												<td width='10'>
													{% trans 'Đã tính' %}
												</td>
											{% else %}
												<td width='10'>
													{% if amortizeAsset.status == '02' %}												
														{% trans 'Đã duyệt' %}
													{% else %}
														{% trans 'Unknow' %}													
													{% endif %}
												</td>
											{% endif %}											
										</tr>																												
										{% endfor %}
									</tbody>
								</table>
							</div>
							<!-- table-responsive -->
						</div>
						
					<!-- row -->
					<input type="hidden" name="submitForm" value="approved"/>
					<select id="choosen-asset" style="display:none ">
						 {% for amortizeAsset in amortize_assets %}
						 	{% if amortizeAsset.status == '00' %}
								<option serial_no="{{ amortizeAsset.serial_no }}" month="{{ amortizeAsset.month|date:'m/Y' }}"
								></option>
							{% endif %}		
						{% endfor %} 															
					</select>
					<input id="txtChooseAsset" type="hidden" name="txtChooseAsset"  />
					<div class="row">
						<div class="col-sm col-sm-offset-5" >
								<button class="btn btn-primary" onclick=" return onApproved();">{% trans 'Duyệt' %}</button>
						</div>
					</div>	
				</form>
				
			</div>
			</div>
		
			
			
			
			
		
		<!-- panel body-->
	</div>
	
{% endblock content %}

{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.autogrow-textarea.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.numeric.js"></script>
<script src="/js/jquery.datatables.min.js"></script>

<script src="/js/custom.js"></script>
<script src="/js/jquery.formatCurrency.vi-VN.js"></script>
<script src="/js/jquery.formatCurrency-1.4.0.js"></script>

<script>
$(document).ready(function(){
  // Chosen Select
	$('#amortize_month').datepicker({dateFormat: 'mm/yy'});
	 $('#amortize_month').mask("99/9999");
	 $('#childAssetTable').dataTable({
			"sPaginationType" : "full_numbers"
		});
	  $(".table-responsive  select").chosen({
			'min-width' : '150px',
			'white-space' : 'nowrap',
			disable_search_threshold : 10
		});
	  $(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
});


function onCalculate()
{
	var $valid = jQuery('#amortize-asset').valid();
	if (!$valid) {
		$validator.focusInvalid();
		return false;
	}
	else{
		jQuery('#amortize-asset').submit();
	}


}

function onApproved()
{
	var choosenId='';
	$('#error-validate').empty();
	
	
	$('#choosen-asset option').each(function(){
		choosenId+=($(this).attr("serial_no")+":"+$(this).attr("month"));
		choosenId+=';';
	});
	if(choosenId=='')
	{
		$('#error-validate').html("{% trans 'Không có bản ghi nào được chọn để duyệt' %}");
		return false;
	}
	else
	{
		choosenId=choosenId.substring(0,choosenId.length-1);
		
		$('#txtChooseAsset').val(choosenId);
		$('#approve-amortize-asset').submit();
		return true;
	}
}
function chooseAsset(id,checked){
	var serial_no=$('#'+id).attr("serial_no");
	var month=$('#'+id).attr("month");
	if(checked==true)
	{
		option=$("<option></option>");
		option.attr("serial_no",serial_no);
		option.attr("month",month);
		$('#choosen-asset').append(option);
	}
	else
	{
		$('#choosen-asset option[value="'+value+'"]').remove();
	}
}
function checkAll(bx) {
	  var cbs = document.getElementsByTagName('input');
	  for(var i=0; i < cbs.length; i++) 
	  {
	    if(cbs[i].type == 'checkbox') 
	    {
	      cbs[i].checked = bx.checked;
	     // chooseAsset(cbs[i].id,cbs[i].checked);	      
	    }
	  }
}
jQuery(window).load(function()
{
	//alert($("#child-asset-table-body tr[id][id ='00111012002018_2']").attr('id'));
});
</script>
{% endblock scripts%}