{% extends "base.html" %} 
{% block styles %}
<link href="/css/increment-asset.css" rel="stylesheet">
<link rel="stylesheet" href="/css/ui-lightness/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/tree/css/zTreeStyle/zTreeStyle.css"
	type="text/css">
<style>
.ztree {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #617775;
	background: #f0f6e4;
	height: 520px;
	overflow-y: scroll;
	overflow-x: auto;
}

.ztree li span.button.add {
	margin-left: 2px;
	margin-right: -1px;
	background-position: -144px 0;
	vertical-align: top;
	*vertical-align: middle
}
</style>
{% endblock %}

{% block content %}
<div class="contentpanel no-padding">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"
				style="text-align: center; line-height: 10px">DANH MỤC HIỆN TRẠNG TÀI SẢN</h4>
		</div>
		<div class="panel-body" style="padding: 0 10px;">
			<div class="row row-pad-0">
				<div class="col-md-5" style="BORDER-RIGHT: #999999 1px dashed;">
						<ul id="treeDemo" class="ztree"></ul>
				</div>
				<div class="col-md-7">
					{% if has_error %}
						<div class="col-sm panel">
							<label class="error">{{ has_error }}</label>
						</div>
					{% endif %}
						<div class="row row-pad-5">
							<div class="col-lg">
								<label>Trực thuộc</label> <input type="text"
									id = "txtParentName" placeholder="Trực thuộc"
									class="form-control" disabled required>
							</div>
						</div>
						<div class="row row-pad-5">
							<div class="col-lg-6">
								<label>Mã hiện trạng tài sản</label> <input type="text"
									id="txtCode" placeholder="Mã hiện trạng tài sản"
									class="form-control" disabled required>
							</div>
							<div class="col-lg-6">
								<label>Tên hiện trạng tài sản</label> <input type="text"
									id="txtName" placeholder="Tên hiện trạng tài sản"
									class="form-control" disabled required>
							</div>
						</div>
						<div class="row row-pad-5">
							<div class="col-lg">
								<div class="form-group">
									<label class="control-label">Mô tả</label>
									<textarea  class="form-control" rows="5" name="txtDescription" id="txtDescription" placeholder="Mô tả" disabled="disabled"></textarea>
								</div>
							</div>
						</div>
						<div class="row row-pad-5">
							<div class="col-lg-6">
								<label>Ngày tạo</label> 
								<p id="txtCreateDate"> </p>
							</div>
							
							<div class="col-lg-6">
								<label>Người tạo</label> 
								<p id="txtUserName"> </p>
							</div>
						</div>
						
						<div class="row row-pad-5">
							<div class="ckbox ckbox-default">
								<input id="ckStatus" type="checkbox"
									checked="checked" disabled="disabled"> <label for="ckStatus">Kích
									hoạt </label>
							</div>
						</div>
						<div class="row row-pad-5" style="display: none">
							<div class="col-sm col-sm-offset-5">
								<button class="btn btn-primary" onclick="return onSubmit();">Thực
									hiện</button>
								&nbsp; <a class="btn btn-default" href="/home">Thoát</a>
							</div>
						</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<form method="post" id="formDepartment">
		<input type="hidden" id= "txtID" name="txtID"/>
		{% csrf_token %}
</form>
<div id="dialog-confirm" title="Xoá hiện trạng tài sản">
	
	<p>
		Bạn thực sự muốn xoá hiện trạng tài sản ?
	</p>
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script type="text/javascript" src="/tree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/tree/js/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="/tree/js/jquery.ztree.exedit-3.5.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js" ></script> 
<script src="/js/jquery.confirm.js"></script>

<script src="/js/custom.js"></script>

<script>
jQuery(document).ready(function() {
	var zNodes = {{ data|safe }};
	var setting = {
		view: {
			addHoverDom: addHoverDom,
			removeHoverDom: removeHoverDom,
			selectedMulti: false
		},
		edit: {
			enable: true,
			//editNameSelectAll: true,
			showRemoveBtn: showBtn,
			showRenameBtn: showBtn,
		},
		callback: {
			beforeDrag: beforeDrag,
			beforeEditName: beforeEditName,
			beforeRemove: beforeRemove,
			onClick: onClick,
		},
		data : {
			simpleData : {
				enable : true,
				idKey: 'id',
				pIdKey: 'parent_id',
				rootPId: null,
			}
		}
	};
	var tree = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
	tree.selectNode(tree.getNodes()[0]);
	fillData(tree.getNodes()[0]);
	$("#dialog-confirm" ).dialog({
		 autoOpen: false, 
		resizable: true,
		height:200,
		width: 500,
		modal: true,
		buttons: {
			"Có": function() {
				$("#formDepartment").submit();
			},
			"Không": function() {
				$( this ).dialog( "close" );
			}
		}
	});
});
var newCount = 1;
function addHoverDom(treeId, treeNode) 
{
	var sObj = $("#" + treeNode.tId + "_span");
	if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
	var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
		+ "' title='add node' onfocus='this.blur();'></span>";
	sObj.after(addStr);
	var btn = $("#addBtn_"+treeNode.tId);
	if (btn) btn.bind("click", function()
	{
		window.location.href  = "/state/add/"+treeNode.id+"/";
	}); 
};

function removeHoverDom(treeId, treeNode) {
	$("#addBtn_"+treeNode.tId).unbind().remove();
};
function showBtn(treeId, treeNode) {
	return treeNode.parent_id !=null;
}
function beforeDrag(treeId, treeNodes) {
	return false;
}
function onClick(event, treeId, treeNode, clickFlag) {
	fillData(treeNode);
}
function fillData(treeNode)
{
	$("#txtParentName").val(treeNode.parent_name);
	$("#txtName").val(treeNode.name);
	$("#txtCode").val(treeNode.code);
	$("#txtDescription").val(treeNode.description);
	if(treeNode.status==='0')
		$("#ckStatus").attr('checked', false);
	else if(treeNode.status==='1')
		$("#ckStatus").attr('checked', 'checked');
	$("#txtCreateDate").html(treeNode.create_date);
	$("#txtUserName").html(treeNode.user_name);
}
function beforeEditName(treeId, treeNode) {
	window.location.href  = "/state/edit/"+treeNode.id+"/";
	return false;
}
function beforeRemove(treeId, treeNode) {
	$("#txtID").val(treeNode.id);
	$("#formDepartment").attr("action","/state/delete/"+treeNode.id+"/");
	$("#dialog-confirm" ).html("<p> Bạn thực sự muốn xoá <strong >"+treeNode.name+ " </strong>(Y/N)?</p>");
	$("#dialog-confirm" ).dialog('open');
	return false;
}
</script>
{% endblock scripts%}
