{% extends "base.html" %}
{% load i18n %}
{% block styles %}
	<link href="/css/increment-asset.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="contentpanel no-padding" style="background: #828283">
	<input type="hidden" id="hd_buy_date" value="{{ buy_date|date:'d/m/Y' }}">
	<input type="hidden" id="hd_start_use_date" value="{{ start_use_date|date:'d/m/Y' }}">
	<input type="hidden" id="hd_up_date" value="{{ up_date|date:'d/m/Y'}}">
	<input type="hidden" id="hd_product_date" value="{{ product_date|date:'d/m/Y' }}">
	<input type="hidden" id="hd_atrophy_date" value="{{ atrophy_date|date:'d/m/Y' }}">
	<input type="hidden" id="hd_decision_date" value="{{ decision_date|date:'d/m/Y' }}">
	
	<form class="form-horizontal form-bordered" novalidate="novalidate" method="post" id="incrementAsset">
		{% csrf_token %}
		<input type="hidden" id="hd_arr_capital" name="hd_arr_capital" value="">
		<input type="hidden" id="hd_arr_capital_code" name="hd_arr_capital_code" value="">
		<input type="hidden" id="hd_arr_capital_name" name="hd_arr_capital_name" value="">
		<input type="hidden" id="hd_arr_original" name="hd_arr_original" value="">
		<input type="hidden" id="hd_arr_remain" name="hd_arr_remain" value="">
		<div class="panel panel-primary">
			<div class="panel-body">
				{% if has_error %}
					<div class="panel">
						<label class="error">{{ has_error }}</label>
					</div>
				{% endif %}
				<div class="alert alert-info" style="padding: 10px;">
					<div class="form-group">
						<div class = "row row-pad-5">
						
							<div class="col-lg-2">
								<label>{% trans 'Lý do' %}</label>
								<select class="form-control chosen-select"
									data-placeholder="{% trans 'Lý do' %}" id="slReason" name = "slReason" required>
									<option value=""></option>
									{% for reason in reasons %}
										{% if reason_id|truncatechars:100 == reason.id|truncatechars:100 %}
											<option value="{{ reason.id }}" selected>{{ reason.code }} - {{ reason.name }}</option>
										{% else %}
											<option value="{{ reason.id }}">{{ reason.code }} - {{ reason.name }}</option>
										{% endif %}
									{% endfor%}
								</select>
								<label for="slReason" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
							</div>
							
							<div class="col-lg-2">
								<label>{% trans 'Đơn vị' %}</label>
								<select id="slDept" class="form-control chosen-select"
									data-placeholder="{% trans 'Đơn vị' %}" 
									name = "slDept" required>
									<option value=""></option>
									{% for dept in depts %}
										{% if dept_id|truncatechars:100 == dept.id|truncatechars:100 %}
											<option value="{{ dept.id }}" selected>{{ dept.code }} - {{ dept.name }}</option>
										{% else %}
											<option value="{{ dept.id }}">{{ dept.code }} - {{ dept.name }}</option>
										{% endif %}
									{% endfor%}
								</select>
								<label for="slDept" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
							</div>
						

							<div class="col-lg-2">
								<label>{% trans 'Kho' %}</label>
								<select id="slStock" class="form-control chosen-select"
									data-placeholder="{% trans 'Kho' %}" 
									name = "slStock" required>
									<option value=""></option>
									{% if stock %}
										<option value="{{ stock.id }}" selected>{{ stock.code}}-{{stock.name }}</option>
									{% endif %}
								</select>
								<label for="slStock" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
							</div>
							
							<div class="col-lg-2">
								<label>{% trans 'Tên tài sản' %}</label>
								<input type="text" style="padding: 8px;" name="txtAssetName" value="{{ asset_name }}" placeholder="{% trans 'Tên tài sản' %}"
									class="form-control" required>
							</div>
							
							
							<div class="col-lg-2">
								<label>{% trans 'Mã nhận diện' %}</label>
								<select id="slAsset" class="form-control chosen-select"
									data-placeholder="{% trans 'Mã nhận diện' %}" 
									name = "slAsset" required>
									<option value=""></option>
									{% for asset in assets%}
										{% if asset_id|truncatechars:100 == asset.id|truncatechars:100 %}
											<option value="{{ asset.id }}" selected>{{ asset.code }} - {{ asset.name }}</option>
										{% else %}
											<option value="{{ asset.id }}">{{ asset.code }} - {{ asset.name }}</option>
										{% endif %}
									{% endfor%}
								</select>
								<label for="slAsset" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
							</div>
							<div class="col-lg-2">
								<label>{% trans 'Ngày ghi tăng' %}</label>
								<div class="input-group">
								<input type="text" style="padding: 8px;" class="form-control"
										data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="{% trans 'Ngày ghi tăng' %}" id="up_date"
										name = "dtUpDate" required>
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>
							</div>
						</div>
						<div class = "row row-pad-5">
							<div class="col-lg-2">
								<label>{% trans 'Dự án' %}</label>
								<select id="slProject" class="form-control chosen-select"
									data-placeholder="{% trans 'Dự án' %}" 
									name = "slProject" required>
									<option value=""></option>
									{% for project in projects %}
										{% if project_id|truncatechars:100 == project.id|truncatechars:100 %}
											<option value="{{ project.id }}" selected>{{ project.code }} - {{ project.name }}</option>
										{% else %}
											<option value="{{ project.id }}">{{ project.code }} - {{ project.name }}</option>
										{% endif %}
									{% endfor%}
								</select>
								<label for="slProject" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
							</div>
							
							
							<div class="col-lg-2">
								<label>{% trans 'Số quyết định' %}</label>
								<input type="text" style="padding: 8px;" name="txtDecisionNo" value="{{ decision_no }}" placeholder="{% trans 'Số quyết định' %}"
									class="form-control" maxlength="15" required>
							</div>
							
							<div class="col-lg-2">
								<label>{% trans 'Ngày quyết định' %}</label>
								<div class="input-group">
									<input type="text" style="padding: 8px;" class="form-control"
										data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="{% trans 'Ngày quyết định' %}" id="dtDecision"
										name = "dtDecision" required>
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>
							</div>
							
							<div class="col-lg-2">
								<label>{% trans 'Mục đích sử dụng' %}</label>
								<select id="slGoal" class="form-control chosen-select"
									data-placeholder="{% trans 'Mục đích sử dụng' %}" 
									name = "slGoal" required>
									<option value=""></option>
									{% for goal in goals %}
										{% if goal_id|truncatechars:100 == goal.id|truncatechars:100 %}
											<option value="{{ goal.id }}" selected>{{ goal.code }} - {{ goal.name }}</option>
										{% else %}
											<option value="{{ goal.id }}">{{ goal.code }} - {{ goal.name }}</option>
										{% endif %}
									{% endfor%}
								</select>
								<label for="slGoal" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
							</div>
							
							<div class="col-lg-2">
								<label>{% trans 'Hiện trạng sử dụng' %}</label>
								<select id="slState" class="form-control chosen-select"
									data-placeholder="{% trans 'Hiện trạng sử dụng' %}" 
									name = "slState" required>
									<option value=""></option>
									{% for state in states %}
										{% if state_id|truncatechars:100 == state.id|truncatechars:100 %}
											<option value="{{ state.id }}" selected>{{ state.code }} - {{ state.name }}</option>
										{% else %}
											<option value="{{ state.id }}">{{ state.code }} - {{ state.name }}</option>
										{% endif %}
									{% endfor%}
								</select>
								<label for="slState" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
							</div>
							
							<div class="col-lg-2">
								<label>{% trans 'Nguồn gốc' %}</label>
								<select id="slSource" class="form-control chosen-select"
									data-placeholder="{% trans 'Nguồn gốc' %}" 
									name = "slSource" required>
									<option value=""></option>
									{% for source in sources %}
										{% if source_code|truncatechars:100 == source.code|truncatechars:100 %}
											<option value="{{ source.code }}" selected>{{ source.code }} - {{ source.name }}</option>
										{% else %}
											<option value="{{ source.code }}">{{ source.code }} - {{ source.name }}</option>
										{% endif %}
									{% endfor%}
								</select>
								<label for="slSource" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
							</div>
						</div>
						<div class = "row row-pad-5">
							<div class="col-lg-6" style="padding: 0px;padding-left: 5px;padding-right: 5px;">
								<!-- <div class="col-lg-4">
									<label>{% trans 'Nguồn vốn' %}</label>
									<select id="slCapital" class="form-control chosen-select"
										data-placeholder="{% trans 'Nguồn vốn' %}" 
										name = "slCapital" >
										<option value=""></option>
										{% for capital in capitals %}
											<option value="{{ capital.id }}">{{ capital.code }} - {{ capital.name }}</option>
										{% endfor%}
									</select>
									<label for="slCapital" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
								</div>
								
								<div class="col-lg-4">
									<label>{% trans 'Nguyên Giá' %}</label>
									<input type="text" style="padding: 8px;" name="txtOriginPrice" placeholder="{% trans 'Nguyên Giá' %}"
										class="form-control numberic"  maxlength="15">
								</div>
								
								<div class="col-lg-4">
									<label>{% trans 'Giá trị còn lại' %}</label>
									<input type="text" style="padding: 8px;" name="txtRemainAmount"
										placeholder="{% trans 'Giá trị còn lại' %}" class="form-control numberic"  maxlength="15">
								</div>
								
								<div class="col-lg-4">
									<label>{% trans 'Nguồn vốn' %}</label>
									<select id="slCapital" class="form-control chosen-select"
										data-placeholder="{% trans 'Nguồn vốn' %}" 
										name = "slCapital" >
										<option value=""></option>
										{% for capital in capitals %}
											<option value="{{ capital.id }}">{{ capital.code }} - {{ capital.name }}</option>
										{% endfor%}
									</select>
									<label for="slCapital" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
								</div>
								
								<div class="col-lg-4">
									<label>{% trans 'Nguyên Giá' %}</label>
									<input type="text" style="padding: 8px;" name="txtOriginPrice" placeholder="{% trans 'Nguyên Giá' %}"
										class="form-control numberic"  maxlength="15">
								</div>
								
								<div class="col-lg-4">
									<label>{% trans 'Giá trị còn lại' %}</label>
									<input type="text" style="padding: 8px;" name="txtRemainAmount"
										placeholder="{% trans 'Giá trị còn lại' %}" class="form-control numberic"  maxlength="15">
								</div> -->
								<div class="table-responsive">
									<label></label>
									<button style="float: right;width: 100px; margin-right: 3px;" class="btn btn-primary  btn-block" onclick="return onAddCapital();"> <span class="glyphicon glyphicon-plus" ></span>{% trans 'Nguồn vốn' %} &nbsp;</button>
									<table class="table table-bordered" style="margin-bottom: 0px;">
										<thead style="display: block;">
											<tr >
												<th style="width:55%;text-align: center;font-family: Arial,Helvetica,sans-serif;">{% trans 'NGUỒN VỐN' %}</th>
												<th style="width:20%;text-align: center;font-family: Arial,Helvetica,sans-serif;">{% trans 'NGUYÊN GIÁ' %}</th>
												<th style="width:20%;text-align: center;font-family: Arial,Helvetica,sans-serif;">{% trans 'GT CÒN LẠI' %}</th>
												<th style="width:5%;text-align: center;font-family: Arial,Helvetica,sans-serif;">{% trans 'XÓA' %}</th>
											</tr>
										</thead>
										<tbody id="tbView" style="height: 124px;display: block;overflow-x: hidden;overflow-y:auto;">
											<tr support="support">
												<td colspan = "4" style="width:618px;"> Bấm vào chọn nguồn vốn để thêm nguồn vốn vào tài sản</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							
							<div class="col-lg-6" style="padding: 0px;">
								<div class="col-lg-12" style="padding: 0px;margin-bottom: 0px;">
									<div class="col-lg-4">
										<label>{% trans 'Phương pháp tính' %}</label>
										<select id="slMethod" class="form-control chosen-select"
												data-placeholder="{% trans 'Phương pháp tính' %}" 
												name = "slMethod" required>
												<option value=""></option>
												{% for method in methods %}
													{% if method_id|truncatechars:100 == method.id|truncatechars:100 %}
														<option value="{{ method.id }}" selected>{{ method.code }} - {{ method.name }}</option>
													{% else %}
														<option value="{{ method.id }}">{{ method.code }} - {{ method.name }}</option>
													{% endif %}
												{% endfor%}
											</select>
											<label for="slMethod" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
										</div>
										
										<div class="col-lg-4">
											<label>{% trans 'Thời gian sử dụng' %}</label>
											<input type="text" style="padding: 8px;" name="txtInterval" value="{{ interval }}" id="txtInterval" placeholder="{% trans 'Thời gian sử dụng' %}"
												class="form-control numberic" maxlength="2" required>
										</div>
										
										<div class="col-lg-4">
											<label>{% trans 'Ngày tính khấu hao' %}</label>
											<div class="input-group">
												<input type="text" style="padding: 8px;" class="form-control"
													data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="{% trans 'Ngày tính khấu hao' %}" id="atrophy_date"
													name = "dtAtrophyDate" required>
												<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
								</div>
								<div class="col-lg-12" style="padding: 0px;margin-bottom: 0px;">
									<div class="col-lg-4">
										<label>{% trans 'Model' %}</label>
										<input type="text" style="padding: 8px;" id="txtModel" name="txtModel" value="{{ model }}" placeholder="{% trans 'Model' %}"
											class="form-control"  maxlength="15" required>
									</div>
									<div class="col-lg-4">
										<label> {% trans 'Số seri' %}</label>
										<input type="text" style="padding: 8px;" id="txtProductSeri" name="txtProductSeri" value="{{ product_seri }}" placeholder="{% trans 'Số seri' %}"
											class="form-control"  maxlength="15" required>
									</div>
								
									<div class="col-lg-4">
										<label>{% trans 'Công xuất' %}</label>
										<input type="text" style="padding: 8px;" name="txtPower" value="{{ power }}" placeholder="{% trans 'Công xuất' %}"
											class="form-control numberic" maxlength="10" required>
									</div>
								</div>
								<div class="col-lg-12" style="padding: 0px;margin-bottom: 0px;">
									<div class="col-lg-4">
										<label>{% trans 'Ngày mua' %}</label>
										<div class="input-group">
											<input type="text" style="padding: 8px;" class="form-control"
												data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="{% trans 'Ngày mua' %}" id="buy_date"
												name = "dtBuyDate" required> <span
												class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</div>
									
									<div class="col-lg-4">
										<label>{% trans 'Ngày bắt đầu sử dụng' %}</label>
										<div class="input-group">
											<input type="text" style="padding: 8px;" class="form-control"
												data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="{% trans 'Ngày bắt đầu sử dụng' %}" id="start_use_date"
												name = "dtStartUseDate" required>
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</div>
									<div class="col-lg-4">
										<label>{% trans 'Số thẻ tài sản' %}</label>
										<input type="text" style="padding: 8px;background: rgb(52, 235, 242);color: rgb(3, 3, 3);" id="txtSerial" name="txtSerial" value="{{ serial }}" placeholder="{% trans 'Số thẻ tài sản' %}"
											class="form-control" maxlength="20" required>
									</div>
								</div>
							</div>
						</div>
						<div class="row row-pad-5">
						<div class="col-lg-2">
							<label>{% trans 'TT tài liệu' %}</label>
							<select id="slDocumentStatus" class="form-control chosen-select"
								data-placeholder="{% trans 'TT tài liệu' %}" 
								name = "slDocumentStatus" required>
								{% if document_status == '0' %}
									<option value="1">{% trans 'Có' %}</option>
									<option value="0"selected >{% trans 'Không' %}</option>
								{% else %}
									<option value="1" selected>{% trans 'Có' %}</option>
									<option value="0" >{% trans 'Không' %}</option>
								{% endif %}
							</select>
							<label for="slDocumentStatus" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
						</div>
						
						<div class="col-lg-2">
							<label>{% trans 'Đơn vị tính' %}</label>
							<select id="slUnit" class="form-control chosen-select"
								data-placeholder="{% trans 'Đơn vị tính' %}" 
								name = "slUnit" required>
								<option value=""></option>
								{% for unit in units %}
									{% if unit_code|truncatechars:100 == unit.name|truncatechars:100 %}
										<option value="{{ unit.name }}" selected>{{ unit.code }} - {{ unit.name }}</option>
									{% else %}
										<option value="{{ unit.name }}">{{ unit.code }} - {{ unit.name }}</option>
									{% endif %}
								{% endfor%}
							</select>
							<label for="slUnit" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
						</div>
						
						<div class="col-lg-2">
							<label>{% trans 'Số lượng' %}</label>
							<input type="text" style="padding: 8px;" name="txtQuantity" value="{{ quantity }}" placeholder="{% trans 'Số lượng' %}"
								class="form-control numberic"  maxlength="3" required>
						</div>
						
						<div class="col-lg-2">
							<label>{% trans 'Nước sản xuất' %}</label>
							<select id="slCountry" class="form-control chosen-select"
								data-placeholder="{% trans 'Nước sản xuất' %}" 
								name = "slCountry" required>
								<option value=""></option>
								{% for country in countries %}
									{% if country_id|truncatechars:100 == country.id|truncatechars:100 %}
										<option value="{{ country.id }}" selected>{{ country.code }} - {{ country.name }}</option>
									{% else %}
										<option value="{{ country.id }}">{{ country.code }} - {{ country.name }}</option>
									{% endif %}
								{% endfor%}
							</select>
							<label for="slCountry" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
						</div>
						
						<div class="col-lg-2">
							<label>{% trans 'Nhà cung cấp' %}</label>
							<select id="slSupplier" class="form-control chosen-select"
								data-placeholder="{% trans 'Nhà cung cấp' %}" 
								name = "slSupplier" required>
								<option value=""></option>
								{% for supplier in suppliers %}
									{% if supplier_id|truncatechars:100 == supplier.id|truncatechars:100 %}
										<option value="{{ supplier.id }}" selected>{{ supplier.code }} - {{ supplier.name }}</option>
									{% else %}
										<option value="{{ supplier.id }}">{{ supplier.code }} - {{ supplier.name }}</option>
									{% endif %}
								{% endfor%}
							</select>
							<label for="slSupplier" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
						</div>
						
						<div class="col-lg-2">
							<label>{% trans 'Ngày sản xuất' %}</label>
							<div class="input-group">
								<input type="text" class="form-control"
									data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="{% trans 'Ngày sản xuất' %}" id="product_date"
									name = "dtProductDate" required> <span
									class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
					</div>
					
					<div class="row row-padding-5">
						<div class="col-lg-6" style="padding: 0px;">
							<div class="col-lg-6">
								<div class="ckbox ckbox-default" style="margin-top: 30px;">
									{% if parent_serial == None %}
										<input type="checkbox" name="ckChildAsset" id="ckChildAsset" > 
									{% else %}
										<input type="checkbox" name="ckChildAsset" id="ckChildAsset" checked>
									{% endif %}
									<label for="ckChildAsset">{% trans 'Tài sản con' %}</label>
								</div>
							</div>
							
							<div class="col-lg-6">
								<label>{% trans 'Tài sản cha' %}</label>
								{% if parent_serial == None %}
									<select id = "slParent" class="form-control chosen-select"
										data-placeholder="{% trans 'Tài sản cha' %}" 
										name = "slParent" disabled="disabled">
										<option value=""></option>
										{% for parent in parents %}
											<option value="{{ parent.serial }}">{{ parent.serial }} - {{ parent.name }}</option>
										{% endfor%}
									</select>
								{% else %}
									<select id = "slParent" class="form-control chosen-select"
										data-placeholder="{% trans 'Tài sản cha' %}" 
										name = "slParent" required>
										<option value=""></option>
										{% for parent in parents %}
											{% if parent_serial|truncatechars:100 == parent.serial|truncatechars:100 %}
												<option value="{{ parent.serial }}" selected>{{ parent.serial }} - {{ parent.name }}</option>
											{% else %}
												<option value="{{ parent.serial }}">{{ parent.serial }} - {{ parent.name }}</option>
											{% endif %}
										{% endfor%}
									</select>
								{% endif %}
							</div>
							
						</div>
						<div class="col-lg-6" style="padding: 0px;">
							
							<div class="col-lg-8" style="padding-left: 5px;padding-right: 5px;">
								<textarea class="form-control" style="min-height: 75px;" name="txtNote" rows="2" placeholder="{% trans 'Ghi chú' %}"  maxlength="100" required>{{ note }}</textarea>
							</div>
	
							<div class="col-lg-4">
								<button id="btnSubmit" class="btn btn-primary  btn-block" style="min-height: 75px;" onclick=" return onSUbmitFormIncrement();">Thực hiện</button>
							</div>
						</div>
					</div>
						<!-- --------------------------------END OF ROW PAD 5-------------------------------------- -->
					</div>
				</div>
				
			</div>
			<!-- panel-body -->
		</div>
		<!-- panel body-->
		
	</form>
</div>
<!-- CREATE POP UP -->
<div class="modal fade" id="modalPermission" tabindex="-1" role="dialog"
		aria-hidden="true">
		<div class="modal-dialog modal-lg-4" style="width: 50%;">
			<div class="modal-content" style="background-color: #e4e7ea;">
				<div class="modal-body">
					<div class="profile-header" style="margin-bottom: 0">
						<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
						<h3 class="profile-name" style="font-family: Arial,Helvetica,sans-serif;text-align: center;">{% trans 'THÊM NGUỒN VỐN' %}</h3>
					</div>
					<div id="tab-content" class = "tab-content" style="padding: 5px 0 0 0;">
					<form method="post" novalidate="novalidate" id="capitalFormSubmit">
							{% csrf_token %}
						<div class="row" style="padding: 10px;">
							<div class="row"  style="padding-left: 10px;padding-right: 10px;">
								<div class="col-sm-12">
									<div class="form-group" style="padding: 5px 0;">
										<label class="control-label">{% trans 'Đơn vị' %}</label>
										<select id="mdLisCapital" class="form-control chosen-select"
											data-placeholder="{% trans '-------------------------------------------------Chọn nguồn vốn--------------------------------------------------------------------' %}" required>
											<option value=""></option>
											{% for capital in capitals %}
												<option value="{{ capital.id }}" code="{{ capital.code }}" name="{{ capital.name }}">{{ capital.code }} - {{ capital.name }}</option>
											{% endfor %}
										</select>
										<label for="mdLisCapital" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
									</div>
								</div>
							</div>
							<div class="row"  style="padding-left: 10px;padding-right: 10px;">
								<div class="col-sm-6">
									<div class="form-group" style="padding: 5px 0;">
										<label class="control-label">{% trans 'Nguyên giá' %}</label>
										<div class="input-group">
											<input type="text" style="padding: 8px;text-align: right;" id="mdOriginal" name="mdOriginal" placeholder="{% trans 'Nguyên giá' %}"
											class="form-control numberic"  maxlength="20" required>
											<span class="input-group-addon" style="background:#EEE">VND</span>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" style="padding: 5px 0;">
										<label class="control-label">{% trans 'giá trị còn lại' %}</label>
										<div class="input-group">
											<input type="text" style="padding: 8px; text-align: right;" id="mdRemain" name="mdRemain" placeholder="{% trans 'Giá trị còn lại' %}"
											class="form-control numberic"  maxlength="20" required>
											<span class="input-group-addon" style="background:#EEE">VND</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						</form>
					</div>
				<div class="col-sm col-sm-offset-4" style="padding-bottom: 5px;padding-top: 10px;">
					<button class="btn btn-success mr5" onclick="addCapital();">
						<i class="fa fa-check"></i> {% trans 'Thực hiện' %}
					</button>
					<button class="btn btn-white mr5" data-dismiss="modal" onclick="hideModel();">
						 <i class="fa fa-reply"></i>  {% trans 'Thoát' %}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.autogrow-textarea.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.numeric.js"></script>
<script src="/js/message.js"></script>

<script src="/js/jquery.formatCurrency.vi-VN.js"></script>
<script src="/js/jquery.formatCurrency-1.4.0.js"></script>

<script src="/js/custom.js"></script>
<script src="/js/loading.js"></script>
<script>
$(document).ready(function(){
  // Chosen Select
  $(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
  
  // Date Picker
  $('#dtDecision').datepicker({dateFormat: 'dd/mm/yy',maxDate: new Date() });
  if($("#hd_decision_date").val().length >0)
	  $("#dtDecision").datepicker("setDate",$("#hd_decision_date").val());
  else
 	 $("#dtDecision").datepicker("setDate",new Date());
  
  $('#buy_date').datepicker({dateFormat: 'dd/mm/yy',maxDate: new Date()});
  if($("#hd_buy_date").val().length >0)
  	$("#buy_date").datepicker("setDate",$("#hd_buy_date").val());
  else
	  $("#buy_date").datepicker("setDate",new Date());
  
  $('#start_use_date').datepicker({dateFormat: 'dd/mm/yy',maxDate: new Date()});
  if($("#hd_start_use_date").val().length >0)
	  $("#start_use_date").datepicker("setDate",$("#hd_start_use_date").val());
  else
	  $("#start_use_date").datepicker("setDate",new Date());
  
  $('#up_date').datepicker({dateFormat: 'dd/mm/yy',maxDate: new Date()});
  if($("#hd_up_date").val().length >0)
  	$("#up_date").datepicker("setDate",$("#hd_up_date").val());

  $('#atrophy_date').datepicker({dateFormat: 'dd/mm/yy',maxDate: new Date()});
  if($("#hd_atrophy_date").val().length >0)
	$("#atrophy_date").datepicker("setDate",$("#hd_atrophy_date").val());
  else
	  $("#atrophy_date").datepicker("setDate",new Date());
  
  $('#product_date').datepicker({dateFormat: 'dd/mm/yy',maxDate: new Date()});
  if($("#hd_product_date").val().length >0)
 	 $("#product_date").datepicker("setDate",$("#hd_product_date").val());
  else
	  $("#product_date").datepicker("setDate",new Date());
  // Input Masks
  $("#dtDecision").mask("99/99/9999");
  $("#datepicker").mask("99/99/9999");
  $('#buy_date').mask("99/99/9999");
  $('#start_use_date').mask("99/99/9999");
  $('#up_date').mask("99/99/9999");
  $('#atrophy_date').mask("99/99/9999");
  $('#product_date').mask("99/99/9999");
  //Validation with select boxes
  $("#ckChildAsset").change(function() {
	if (this.checked)
			{
				$("#slParent").attr('disabled', false);
				$("#slParent").trigger("chosen:updated");
			} else
			{
				$("#slParent").attr('disabled', true);
				$("#slParent").trigger("chosen:updated");
			}

		});
	$("#txtModel").on("keydown", function (e) {
		if(e.which === 32) 
			return false;
		});
	$("#txtProductSeri").on("keydown", function (e) {
		if(e.which === 32) 
			return false;
		});
	$("#txtSerial").on("keydown", function (e) {
		if(e.which === 32) 
			return false;
		});
	//change up_date
	$('#up_date').change(function(){
		var dtDate = $(this).val();
		var arr_res = dtDate.split("/");
		get_serial_no(arr_res[0],arr_res[1],arr_res[2]);
	});
	$("#slAsset").change(function(){
		
		var asset_id =$(this).val();
		get_interval(asset_id);
	});
	//change slDept
	$('#slDept').change(function(){
		$(".error[for][for='slDept']").hide();
		var dept_id = $(this).find('option:selected').val();
		onGetStock(dept_id);
	});
	$( "#slStock" ).change(function() {
		$(".error[for][for='slStock']").hide();
	});
	$( "#slCountry" ).change(function() {
		$(".error[for][for='slCountry']").hide();
	});
	$( "#slSupplier" ).change(function() {
		$(".error[for][for='slSupplier']").hide();
	});
	
	$( "#slCapital" ).change(function() {
		$(".error[for][for='slCapital']").hide();
	});
	
	$( "#slGoal" ).change(function() {
		$(".error[for][for='slGoal']").hide();
	});
	
	$( "#slState" ).change(function() {
		$(".error[for][for='slState']").hide();
	});
	
	$( "#slMethod" ).change(function() {
		$(".error[for][for='slMethod']").hide();
	});
	
	$( "#slReason" ).change(function() {
		$(".error[for][for='slReason']").hide();
	});
	$( "#slSource" ).change(function() {
		$(".error[for][for='slSource']").hide();
	});
	$( "#slProject" ).change(function() {
		$(".error[for][for='slProject']").hide();
	});
	$( "#slAsset" ).change(function() {
		$(".error[for][for='slAsset']").hide();
	});
	$( "#slUnit" ).change(function() {
		$(".error[for][for='slUnit']").hide();
	});
	$('#mdLisCapital').change(function() {
		$(".error[for][for='mdLisCapital']").hide();
	});
	
	$('#mdOriginal').blur(function() {
		$(this).formatCurrency();
	});
	$('#mdOriginal').focus(function() 
	{
		var temp =$(this).val().replace(/,/g,"");
		$(this).val(temp);
	});
	$('#mdRemain').blur(function() {
		$(this).formatCurrency();
	});
	$('#mdRemain').focus(function() 
	{
		var temp =$(this).val().replace(/,/g,"");
		$(this).val(temp);
	});
	//validate
	$.validator.setDefaults({ ignore: ":hidden:not(select)" })
	});
	function get_interval(asset_id)
	{
		//show loading
		$.fn.loading.show();
		
		var csrftoken = $.cookie('csrftoken');
		var posting = $.post("/get-interval"+"/"+asset_id.toString()+"/", {
			'csrfmiddlewaretoken' : csrftoken,
		});
		posting.done(function(data) 
		{
			//alert(JSON.stringify(data))
			var interval = data.interval;
			$("#txtInterval").val(interval);
			$(".error[for][for='txtInterval']").hide();
			//hide loading
			$.fn.loading.hide();
		});
	}
	function get_serial_no(day,month,year)
	{
		//show loading
		$.fn.loading.show();
		
		var csrftoken = $.cookie('csrftoken');
		var posting = $.post("/get-serial-no"+"/"+day.toString()+"/"+month.toString()+"/"+year.toString()+"/", {
			'csrfmiddlewaretoken' : csrftoken,
		});
		posting.done(function(data) 
		{
			//alert(JSON.stringify(data))
			var serialNo = data.serialNo;
			$("#txtSerial").val(serialNo);
			$(".error[for][for='txtSerial']").hide();
			//hide loading
			$.fn.loading.hide();
		});
	}
	function onGetStock(dept_id)
	{
		//show loading
		$.fn.loading.show();
		
		var csrftoken = $.cookie('csrftoken');
		var posting = $.post("/get-list-stock"+"/"+dept_id.toString()+"/", {
			'csrfmiddlewaretoken' : csrftoken,
		});
		posting.done(function(data) 
		{
			//alert(JSON.stringify(data))
			stocks = data.stocks
			if(stocks.length>0)
				$('#slStock').prop("disabled", false);
			$('#slStock option[value!=""]').remove();
			for(var i=0;i<stocks.length ;i++)
			{
				stock = stocks[i];
				option = $("<option></option>")
				option.attr("value",stock.id)
				option.text(stock.code+"-"+stock.name)
				$('#slStock').append(option)
			}
			$('#slStock').chosen('destroy');
			$('#slStock').prop("selectedIndex", -1);
			$('#slStock').chosen();
			//hide loading
			$.fn.loading.hide();
		});
	}
	function onSUbmitFormIncrement()
	{
		if($("#tbView tr[id]").size() <= 0)
		{
			$.message.warning('Chưa chọn nguồn vốn !!!');
			return false;
		}
		var $valid = jQuery('#incrementAsset').valid();
		if (!$valid)
		{
			$validator.focusInvalid();
			return false;
		} else
		{
			var arr_capital_temp="";
			var arr_original_temp="";
			var arr_remain_temp="";
			var arr_capital_code ="";
			var arr_capital_name ="";
			$("#tbView tr[id]").each(function(){
				arr_capital_temp += $(this).attr("id")+";";
				arr_original_temp += $(this).attr("original")+";";
				arr_remain_temp += $(this).attr("remain")+";";
				arr_capital_code +=$(this).attr("code")+";";
				arr_capital_name +=$(this).attr("name")+";";
			});
			$("#hd_arr_capital").val(arr_capital_temp);
			$("#hd_arr_capital_code").val(arr_capital_code);
			$("#hd_arr_capital_name").val(arr_capital_name);
			$("#hd_arr_original").val(arr_original_temp);
			$("#hd_arr_remain").val(arr_remain_temp);
			jQuery('#incrementAsset').submit();
			$('#btnSubmit').prop("disabled", true);
		}
	}
	//event add capital
	function onAddCapital()
	{
		$("#modalPermission").modal('show');
		return false;
	}
	//ad capital
	function addCapital()
	{
		
		var $valid = jQuery('#capitalFormSubmit').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		else
		{
			var capital_id = $("#mdLisCapital").find('option:selected').val();
			var capital_name = $("#mdLisCapital").find("option:selected").attr("name");
			var capital_code = $("#mdLisCapital").find("option:selected").attr("code");
			var capital_original = $("#mdOriginal").val();
			var capital_remain = $("#mdRemain").val();
			//add row
			addRow(capital_id,capital_code,capital_name,capital_original,capital_remain);
			//hide  dept selected
			hideCapital(capital_id);
			//hide model
			hideModel();
			//clear input
			clearInput();
		}
		
	}
	//clear Input
	function clearInput(){
		$("#mdOriginal").val('');
		$("#mdRemain").val('');
	};
	//hide option selected  list dept
	function hideCapital(capital_id){
		$("#mdLisCapital option[value][value='"+capital_id+"']").hide();
		$('#mdLisCapital').prop("selectedIndex", -1);
		$('#mdLisCapital').trigger('chosen:updated');
	}
	//hide model
	function hideModel()
	{
		$("#modalPermission").modal('hide');
	}
	//add row into table
	function addRow(capital_id,capital_code,capital_name,capital_original,capital_remain)
	{
		$("#tbView tr[support]").remove();
		var newRow = $('<tr id="'+ capital_id +'" code="'+ capital_code +'" name="'+capital_name+'" original="'+capital_original.replace(/,/g,"") +'" remain="'+ capital_remain.replace(/,/g,"") +'"></tr>');
		var newcol = $('<td style="width:325px;">'
				+ capital_code +'-'+capital_name
				+ '</td><td class="currency" style="text-align:right;min-width:120px;">'
				+ capital_original
				+ '</td><td class="currency" style="text-align:right;min-width:119px;">'
				+ capital_remain
				+ '</td><td class="table-action" style="text-align:left;min-width:30px;border-right:#fff; "><a href="#" class="delete-row" onclick="Remove('
				+ "'" + capital_id + "'"
				+ ');"><i class="fa fa-trash-o"></i></a></td>');
		newRow.append(newcol);
		$("#tbView").append(newRow);
		$('.currency').formatCurrency({ colorize:true, region: 'vi-VN' });
	}
	//delete row
	function Remove(capital_id)
	{
		confirm = $.message.confirm('Bạn có chắc không muốn sử dụng nguồn vốn '+ $("#tbView tr[id][id= '"+capital_id+"']").attr('code')+' ? ');
		confirm.on('message.confirm',function(){
			
			$("#tbView tr[id][id= '"+capital_id+"']").remove();
			$("#mdLisCapital option[value][value='"+capital_id+"']").show();
			$('#mdLisCapital').prop("selectedIndex", -1);
			$('#mdLisCapital').trigger('chosen:updated');
			
			if($("#tbView tr").size() === 0)
			{
				var newRow = $('<tr support="support"></tr>');
				var newcol = $('<td colspan = "4" style="width:618px;"> Bấm vào chọn nguồn vốn để thêm nguồn vốn vào tài sản</td>');
				newRow.append(newcol);
				$("#tbView").append(newRow);
			}
			
			$.message.destroy()
		});
	}
	jQuery(window).load(function()
	{
		var capitals ='{{ arr_capital_id }}';
		var arr_origin_price ='{{ arr_origin_price }}';
		var arr_remain_amount ='{{ arr_remain_amount }}';
		var arr_origin_price ='{{ arr_origin_price }}';
		var arr_capital_code ='{{ arr_capital_code }}';
		var arr_capital_name ='{{ arr_capital_name }}';
		
		var arr_capitals = capitals.split(";");
		var arr_origin =arr_origin_price.split(";");
		var arr_remain =arr_remain_amount.split(";");
		var arr_code =arr_capital_code.split(";");
		var arr_name =arr_capital_name.split(";");
		
		for( var i=0;i<arr_capitals.length-1;i++)
		{
			addRow(arr_capitals[i],arr_code[i],arr_name[i],arr_origin[i],arr_remain[i]);
			hideCapital(arr_capitals[i]);
		}
		$(".numberic").numeric({ negative : false });
		$("form:not(.filter) :input:visible:enabled:first").focus();
	});
</script>
{% endblock scripts%}