{% extends "base.html" %} 
{% block styles %}
<link href="/css/increment-asset.css" rel="stylesheet">
<link rel="stylesheet" href="/css/ui-lightness/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/tree/css/zTreeStyle/zTreeStyle.css"
	type="text/css">
<style>
.ztree {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #617775;
	background: #f0f6e4;
	height: 520px;
	overflow-y: scroll;
	overflow-x: auto;
}

.ztree li span.button.add {
	margin-left: 2px;
	margin-right: -1px;
	background-position: -144px 0;
	vertical-align: top;
	*vertical-align: middle
}
</style>
{% endblock %}
{% load i18n %}
{% block content %}
<div class="contentpanel no-padding">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"
				style="text-align: center; line-height: 10px">{% trans 'GỘP TÀI SẢN' %}</h4>
		</div>
		<div class="panel-body" style="padding: 0 10px;">
			{% if has_error %}
				<div class="panel">
					<label class="error" >{{ has_error }}</label>
				</div>
			{% endif %}
			<div class="panel">
				<p id="showError" style="color:#B94A48;margin: 10px; display: none;">{% trans 'Phải chọn cả tài sản cha và tài sản con!' %}</p>
			</div>
			<div class="alert alert-info" style="padding-top: 0px;padding-bottom: 15px;">
				<div class="row row-pad-0">
					<div class="col-md-6">
						<label>{% trans 'BỘ PHẬN' %}</label>
						<select id="slDept" class="form-control chosen-select"
							data-placeholder="{% trans 'Bộ phận...' %}" 
							name = "slDept" required="required">
							<option value=""></option>
							{% for dept in depts %}
								<option value="{{ dept.id }}">{{ dept.code }} - {{ dept.name }}</option>
							{% endfor%}
						</select>
						<label for="slDept" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
					</div>
					<div class="col-md-6">
						<label>{% trans 'KHO' %}</label>
						<select id="slStock" class="form-control chosen-select"
							data-placeholder="{% trans 'Kho...' %}" 
							name = "slStock" required="required" disabled="disabled">
							<option value=""></option>
							{% for dept in depts %}
								<option value="{{ dept.id }}">{{ dept.code }} - {{ dept.name }}</option>
							{% endfor%}
						</select>
						<label for="slDept" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
					</div>
				</div>
			</div>
			<div class="row row-pad-0">
			
				<div class="col-md-6" style="padding-top: 0px;">
					<div class="col-md-12" >
						<label>{% trans 'TÌM TÀI SẢN CHA' %}</label> <input type="text"
							id = "txtParentSearch" placeholder="{% trans 'Tìm ..' %}"
							class="form-control" oninput="onChangeParentTree();">
					</div>
					<div class="col-md-12">
							<ul id="treeParentGoal" class="ztree" style="height: 180px;"></ul>
					</div>
				</div>
				
				<div class="col-md-6" style="padding-top: 0px;">
					<div class="col-md-12">
						<label>{% trans 'TÌM TÀI SẢN CON' %}</label> <input type="text"
							id = "txtChildSearch" placeholder="{% trans 'Tìm ..' %}"
							class="form-control" oninput="onChangeChildTree();">
					</div>
					<div class="col-md-12">
							<ul id="treeChildGoal" class="ztree" style="height: 180px;"></ul>
					</div>
				</div>
				
			</div>
			<div class="row row-pad-5">
				<form method="post" id="join-asset" novalidate="novalidate">
					{% csrf_token %}
					<input type="hidden" name="hd_ListChildSerial" id="hd_ListChildSerial" value="">
					<input type="hidden" name="hd_ParentSerial" id="hd_ParentSerial" value="">
					<div class="col-lg-12" style="padding: 0 15px 0 15px;">
						<label>{% trans 'Ghi chú' %}</label>
						<textarea class="form-control" name="txtNote" rows="2"
							placeholder="{% trans 'Ghi chú' %}" maxlength="100" required="required"></textarea>
					</div>
				</form>
			</div>
			<div class="row row-pad-5">
				<div class="col-sm col-sm-offset-5">
					<!-- <button class="btn btn-primary">In biên bản</button> -->
					<button class="btn btn-primary" onclick="return onSubmitFormJoinAsset();">{% trans 'Thực hiện' %}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>

<script type="text/javascript" src="/tree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/tree/js/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="/tree/js/jquery.ztree.exedit-3.5.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js" ></script> 
<script src="/js/jquery.confirm.js"></script>

<script src="/js/custom.js"></script>
<script src="/js/loading.js"></script>
<script>
jQuery(document).ready(function() {
	
	// Chosen Select
	$(".chosen-select").chosen({
		'width' : '100%',
		'white-space' : 'nowrap'
	});
	var childZNodes = {{ child_data|safe }};
	var parentZNodes = {{ parent_data|safe }};
	
	$.fn.zTree.init($("#treeChildGoal"), childSetting, childZNodes);
	$.fn.zTree.init($("#treeParentGoal"), parentSetting, parentZNodes);
	
	$( "#slDept" ).change(function() {
		onGetStock($(this).find('option:selected').val());
	});
	$( "#slStock" ).change(function() {
		onGetCode($(this).find('option:selected').val());
	});
});
var lastValue = "", nodeList = [], fontCss = {};
var newCount = 1;
var childSetting = {
	treeId: "treeChildGoal",
	view: {
		//addHoverDom: addHoverDom,
		removeHoverDom: removeHoverDom,
		selectedMulti: false,
		fontCss: getFontCss,
	},
	edit: {
		enable: false,
		editNameSelectAll: true,
		showRemoveBtn: showBtn,
		showRenameBtn: showBtn,
	},
	callback: {
		beforeDrag: beforeDrag,
		beforeEditName: beforeEditName,
		//beforeRemove: beforeRemove,
		onClick: onClick,
		onCheck:onChildCheck,
	},
	data : {
		simpleData : {
			enable : true,
			idKey: 'id',
			pIdKey: 'parent_id',
			rootPId: null,
		},
	},
	check:{
		autoCheckTrigger: true,
		enable: true,
		chkboxType: { "Y": "s", "N": "s" },
		nocheckInherit: false,
	}
};
var parentSetting = {
	treeId: "treeChildGoal",
	view: {
		//addHoverDom: addHoverDom,
		removeHoverDom: removeHoverDom,
		selectedMulti: false,
		fontCss: getFontCss,
	},
	edit: {
		enable: false,
		editNameSelectAll: true,
		showRemoveBtn: showBtn,
		showRenameBtn: showBtn,
	},
	callback: {
		beforeDrag: beforeDrag,
		beforeEditName: beforeEditName,
		//beforeRemove: beforeRemove,
		onClick: onClick,
		onCheck:onParentCheck,
	},
	data : {
		simpleData : {
			enable : true,
			idKey: 'id',
			pIdKey: 'parent_id',
			rootPId: null,
		},
	},
	check:{
		enable: true,
		chkStyle: "radio"
	}
};
function onGetStock(dept_id)
{
	//show loading
	$.fn.loading.show();
	
	//destroy tree
	$.fn.zTree.destroy();
	
	var csrftoken = $.cookie('csrftoken');
	var posting = $.post("/get-list-stock"+"/"+dept_id.toString()+"/", {
		'csrfmiddlewaretoken' : csrftoken,
	});
	posting.done(function(data) 
	{
		//alert(JSON.stringify(data))
		stocks = data.stocks
		if(stocks.length>0)
			$('#slStock').prop("disabled", false);
		$('#slStock option[value!=""]').remove();
		for(var i=0;i<stocks.length ;i++)
		{
			stock = stocks[i];
			option = $("<option></option>")
			option.attr("value",stock.id)
			option.text(stock.name)
			$('#slStock').append(option)
		}
		$('#slStock').chosen('destroy');
		$('#slStock').prop("selectedIndex", -1);
		$('#slStock').chosen();
		//hide loading
		$.fn.loading.hide();
	});
}
function onGetCode(stock_id)
{
	//show loading
	$.fn.loading.show();
	
	var csrftoken = $.cookie('csrftoken');
	var posting = $.post("/get-serial"+"/"+stock_id.toString()+"/", {
		'csrfmiddlewaretoken' : csrftoken,
	});
	posting.done(function(data) 
	{
		childZNodes = data.child_stock_asset_serials;
		parentZNodes = data.parent_stock_asset_serials
		
		$.fn.zTree.init($("#treeChildGoal"), childSetting, childZNodes);
		$.fn.zTree.init($("#treeParentGoal"), parentSetting, parentZNodes);
		//hide loading
		$.fn.loading.hide();
	});
}
function addHoverDom(treeId, treeNode) 
{
	var sObj = $("#" + treeNode.tId + "_span");
	if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
	var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
		+ "' title='add node' onfocus='this.blur();'></span>";
	sObj.after(addStr);
	var btn = $("#addBtn_"+treeNode.tId);
	if (btn) btn.bind("click", function()
	{
		window.location.href  = "/goal/add/"+treeNode.id+"/";
	}); 
};

function removeHoverDom(treeId, treeNode) {
	$("#addBtn_"+treeNode.tId).unbind().remove();
};
function showBtn(treeId, treeNode) {
	return treeNode.parent_id !=null;
}
function beforeDrag(treeId, treeNodes) {
	return false;
}
function onChildCheck(event, treeId, treeNode, clickFlag)
{
	var ChildZTree = $.fn.zTree.getZTreeObj("treeChildGoal");
	var ParentZTree = $.fn.zTree.getZTreeObj("treeParentGoal");
	
	var nodes = ParentZTree.getNodes();
	for( var i=0, l=nodes.length; i<l; i++) {
		if(nodes[i].id === treeNode.id)
		{
			if(treeNode.checked)
				ParentZTree.setChkDisabled(nodes[i], true);
			else
				ParentZTree.setChkDisabled(nodes[i], false);
		}
	}
	//set check
	parentCheck = ParentZTree.getCheckedNodes(true);
	childCheck = ChildZTree.getCheckedNodes(true);
	
	if(parentCheck.length >0 && childCheck.length >0)
		$("#showError").hide();
}
function onParentCheck(event, treeId, treeNode, clickFlag)
{
	var ChildZTree = $.fn.zTree.getZTreeObj("treeChildGoal");
	var ParentZTree = $.fn.zTree.getZTreeObj("treeParentGoal");
	
	//refresh tree
	var parentNodes = ParentZTree.getCheckedNodes(true);
	for( var i=0, l=parentNodes.length; i<l; i++) {
		if(parentNodes[i].id != treeNode.id){
			parentNodes[i].checked = false;
			ParentZTree.refresh();
		}
	}
	
	var nodes = ChildZTree.getNodes();
	for( var i=0, l=nodes.length; i<l; i++) {
		if(nodes[i].id === treeNode.id && treeNode.checked){
			ChildZTree.setChkDisabled(nodes[i], true);
		}
		else
			ChildZTree.setChkDisabled(nodes[i], false);
	}
	
	//set check
	parentCheck = ParentZTree.getCheckedNodes(true);
	childCheck = ChildZTree.getCheckedNodes(true);
	
	if(parentCheck.length >0 && childCheck.length >0)
		$("#showError").hide();
}
function onClick(event, treeId, treeNode, clickFlag) {

}
function onSubmitFormJoinAsset()
{
	//set check
	var ChildZTree = $.fn.zTree.getZTreeObj("treeChildGoal");
	var ParentZTree = $.fn.zTree.getZTreeObj("treeParentGoal");
	
	parentCheck = ParentZTree.getCheckedNodes(true);
	childCheck = ChildZTree.getCheckedNodes(true);
	
	if(parentCheck.length <=0 || childCheck.length <=0)
	{
		$("#showError").show();
		return false;
	}
	else
		$("#showError").hide();
	var $valid = jQuery('#join-asset').valid();
	if(!$valid) 
	{
		$validator.focusInvalid();
		return false;
	}
	else
	{
		var temp ="";
		for( var i=0, l=childCheck.length; i<l; i++) 
		{
			temp += childCheck[i].serial+",";
		}
		temp = temp.substr(0,temp.length-1);
		$("#hd_ListChildSerial").val(temp);
		$("#hd_ParentSerial").val(parentCheck[0].serial);
		
		$("#join-asset").submit();
	}
}
function Remove(serial_id)
{
	var tr= $("#assetTbody tr[serial_id][serial_id ='"+serial_id+"']");
	tr.remove();
}
function getFontCss(treeId, treeNode) {
	return (!!treeNode.highlight) ? {color:"#A60000", "font-weight":"bold"} : {color:"#333", "font-weight":"normal"};
}
function onChangeParentTree()
{
	var zTree = $.fn.zTree.getZTreeObj("treeParentGoal");
		var value = $("#txtParentSearch").val();
		var keyType = "name";
		if (lastValue === value) return;
		lastValue = value;
		if (value === "") return;
		updateParentNodes(false);
		nodeList = zTree.getNodesByParamFuzzy(keyType, value,null);
		updateParentNodes(true);
}
function onChangeChildTree()
{
	var zTree = $.fn.zTree.getZTreeObj("treeChildGoal");
		var value = $("#txtChildSearch").val();
		var keyType = "name";
		if (lastValue === value) return;
		lastValue = value;
		if (value === "") return;
		updateChildNodes(false);
		nodeList = zTree.getNodesByParamFuzzy(keyType, value,null);
		updateChildNodes(true);
}
function updateChildNodes(highlight) {
	var zTree = $.fn.zTree.getZTreeObj("treeChildGoal");
	for( var i=0, l=nodeList.length; i<l; i++) {
		nodeList[i].highlight = highlight;
		zTree.updateNode(nodeList[i]);
	}
}
function updateParentNodes(highlight) {
	var zTree = $.fn.zTree.getZTreeObj("treeParentGoal");
	for( var i=0, l=nodeList.length; i<l; i++) {
		nodeList[i].highlight = highlight;
		zTree.updateNode(nodeList[i]);
	}
}

function beforeEditName(treeId, treeNode) {
	window.location.href  = "/goal/edit/"+treeNode.id+"/";
	return false;
}
function beforeRemove(treeId, treeNode) {
	$("#txtID").val(treeNode.id);
	$("#dialog-confirm" ).html("<p> Bạn thực sự muốn xoá <strong >"+treeNode.name+ " </strong>(Y/N)?</p>");
	$("#dialog-confirm" ).dialog('open');
	return false;
}
function init(data)
{
	
}
</script>
{% endblock scripts%}
