{% extends "base.html" %} 
{% block styles %}
<link href="/css/increment-asset.css" rel="stylesheet">
<link rel="stylesheet" href="/css/ui-lightness/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/tree/css/zTreeStyle/zTreeStyle.css"
	type="text/css">
<style>
.ztree {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #617775;
	background: #f0f6e4;
	height: 520px;
	overflow-y: scroll;
	overflow-x: auto;
}

.ztree li span.button.add {
	margin-left: 2px;
	margin-right: -1px;
	background-position: -144px 0;
	vertical-align: top;
	*vertical-align: middle
}
</style>
{% endblock %}
{% load i18n %}
{% block content %}
<div class="contentpanel no-padding">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"
				style="text-align: center; line-height: 10px">{% trans 'TÁCH TÀI SẢN' %}</h4>
		</div>
		<div class="panel-body" style="padding: 0 10px;">
			<div class="panel">
				<p id="showError" style="color:#B94A48;margin: 10px; display: none;">{% trans 'Phải chọn tài sản để tách!' %}</p>
			</div>
			<div class="alert alert-info" style="padding-top: 0px;padding-bottom: 15px;">
				<div class="row row-pad-0">
					<div class="col-md-5">
						<label class="control-label">{% trans 'BỘ PHẬN' %}</label>
						<select id="slDept" class="form-control chosen-select"
							data-placeholder="{% trans 'Bộ phận...' %}" 
							name = "slDept" required="required">
							<option value=""></option>
							{% for dept in depts %}
								<option value="{{ dept.id }}">{{ dept.code }} - {{ dept.name }}</option>
							{% endfor%}
						</select>
						<label for="slDept" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
					</div>
					<div class="col-md-7">
						<label class="control-label">{% trans 'KHO' %}</label>
						<select id="slStock" class="form-control chosen-select"
							data-placeholder="{% trans 'Kho...' %}" 
							name = "slStock" required="required" disabled="disabled">
							<option value=""></option>
							{% for dept in depts %}
								<option value="{{ dept.id }}">{{ dept.code }} - {{ dept.name }}</option>
							{% endfor%}
						</select>
						<label for="slStock" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
					</div>
				</div>
			</div>
		
			<div class="row row-pad-0">
				<div class="col-md-5" style="padding-top: 10px;">
					<div class="col-md-12" style="BORDER-RIGHT: #999999 1px dashed;">
						<label class="control-label">{% trans 'TÌM KIẾM' %}</label> <input type="text"
							id = "txtSearch" placeholder="{% trans 'Tìm ..' %}"
							class="form-control" oninput="onChangeTree();">
					</div>
					<div class="col-md-12" style="BORDER-RIGHT: #999999 1px dashed;">
							<ul id="treeGoal" class="ztree"></ul>
					</div>
				</div>
				<div class="col-md-7" style="padding-top: 10px;padding-left: 0px;">
					{% if has_error %}
						<div class="col-sm panel">
							<label class="error">{{ has_error }}</label>
						</div>
					{% endif %}
					<div class="col-lg">
						<label class="control-label">{% trans 'DANH SÁCH TÀI SẢN MUỐN TÁCH' %}</label>
					</div>
					<div class="col-lg">
						<div class="table-responsive">
							<table class="table table-bordered" id="assetTable">
								<thead>
									<tr>
										<th style='width: 15%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'MÃ TÀI SẢN' %} </th>
										<th style='width: 20%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'TÊN TÀI SẢN' %} </th>
										<th style='width: 1%;text-align: left;font-family: Arial,Helvetica,sans-serif;'>{% trans 'XÓA' %}</th>
									</tr>
								</thead>
								<tbody id="assetTbody">
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-lg" style="padding-top: 20px;padding-bottom: 10px;">
						<form method="post" id="release-asset" novalidate="novalidate" >
							{% csrf_token %}
							<input type="hidden" name="txtListSerial" id="txtListSerial" value="" required="required">
							<div class="col-sm">
								<label class="control-label">{% trans 'Ghi chú' %}</label>
								<textarea class="form-control" name="txtNote" rows="3"
									placeholder="{% trans 'Ghi chú' %}" maxlength="100" required="required"></textarea>
							</div>
						</form>
					</div>
					<div class="col-lg">
						<div class="col-sm">
							<button class="btn btn-primary" onclick="return onSubmit();" style="float: right;">{% trans 'Thực hiện' %}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>

<script type="text/javascript" src="/tree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/tree/js/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="/tree/js/jquery.ztree.exedit-3.5.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js" ></script> 
<script src="/js/jquery.confirm.js"></script>

<script src="/js/custom.js"></script>
<script src="/js/loading.js"></script>
<script>
jQuery(document).ready(function() {
	
	// Chosen Select
	$(".chosen-select").chosen({
		'width' : '100%',
		'white-space' : 'nowrap'
	});
	
	
	var zNodes = {{ data|safe }};
	
	var tree = $.fn.zTree.init($("#treeGoal"), setting, zNodes);
	
	var treeObj = $.fn.zTree.getZTreeObj("treeGoal");
	var nodes = treeObj.getCheckedNodes(false);
	for (var i=0, l=nodes.length; i < l; i++) {
		if(!nodes[i].icon)
			treeObj.setChkDisabled(nodes[i], true);
	}
});
var lastValue = "", nodeList = [], fontCss = {};
var newCount = 1;
var setting = {
		treeId: "treeGoal",
		view: {
			//addHoverDom: addHoverDom,
			removeHoverDom: removeHoverDom,
			selectedMulti: false,
			fontCss: getFontCss,
		},
		edit: {
			enable: false,
			editNameSelectAll: true,
			showRemoveBtn: showBtn,
			showRenameBtn: showBtn,
		},
		callback: {
			beforeDrag: beforeDrag,
			beforeEditName: beforeEditName,
			//beforeRemove: beforeRemove,
			onClick: onClick,
			onCheck:onCheck,
		},
		data : {
			simpleData : {
				enable : true,
				idKey: 'id',
				pIdKey: 'parent_id',
				rootPId: null,
			},
		},
		check:{
			autoCheckTrigger: true,
			enable: true,
			chkboxType: { "Y": "s", "N": "s" },
			nocheckInherit: false,
		}
	};
function addHoverDom(treeId, treeNode) 
{
	var sObj = $("#" + treeNode.tId + "_span");
	if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
	var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
		+ "' title='add node' onfocus='this.blur();'></span>";
	sObj.after(addStr);
	var btn = $("#addBtn_"+treeNode.tId);
	if (btn) btn.bind("click", function()
	{
		window.location.href  = "/goal/add/"+treeNode.id+"/";
	}); 
};

function removeHoverDom(treeId, treeNode) {
	$("#addBtn_"+treeNode.tId).unbind().remove();
};
function showBtn(treeId, treeNode) {
	return treeNode.parent_id !=null;
}
function beforeDrag(treeId, treeNodes) {
	return false;
}
function onCheck(event, treeId, treeNode, clickFlag)
{
	var newRow = $('<tr serial="'+ treeNode.serial +'"><td serial="'+treeNode.serial+'">'+treeNode.serial+'</td><td>'+treeNode.name+'</td><td class="table-action"><a href="#" class="delete-row" onclick="Remove('+"'" +treeNode.serial+"'" +');"><i class="fa fa-trash-o"></i></a></td></tr>');
	var tr= $("#assetTbody tr[serial][serial ='"+treeNode.serial+"']");
	
	if($("#assetTbody tr[serial][serial ='"+treeNode.serial+"']").size() == 0)
		$("#assetTbody").append(newRow);
	else
		tr.remove();
	//check node on tree
	checkNode();
}
$( "#slDept" ).change(function() {
	onGetStock($(this).find('option:selected').val());
});
$( "#slStock" ).change(function() {
	onGetCode($(this).find('option:selected').val());
});
function onGetStock(dept_id)
{
	//show loading
	$.fn.loading.show();
	
	//destroy tree
	$.fn.zTree.destroy();
	//destroy table
	$("#assetTbody tr").remove();
	var csrftoken = $.cookie('csrftoken');
	var posting = $.post("/get-list-stock"+"/"+dept_id.toString()+"/", {
		'csrfmiddlewaretoken' : csrftoken,
	});
	posting.done(function(data) 
	{
		//alert(JSON.stringify(data))
		stocks = data.stocks
		if(stocks.length>0)
			$('#slStock').prop("disabled", false);
		$('#slStock option[value!=""]').remove();
		for(var i=0;i<stocks.length ;i++)
		{
			stock = stocks[i];
			option = $("<option></option>")
			option.attr("value",stock.id)
			option.text(stock.name)
			$('#slStock').append(option)
		}
		$('#slStock').chosen('destroy');
		$('#slStock').prop("selectedIndex", -1);
		$('#slStock').chosen();
		//hide loading
		$.fn.loading.hide();
	});
}
function onGetCode(stock_id)
{
	//show loading
	$.fn.loading.show();
	
	var csrftoken = $.cookie('csrftoken');
	var posting = $.post("/get-stock_asset-serials"+"/"+stock_id.toString()+"/", {
		'csrfmiddlewaretoken' : csrftoken,
	});
	posting.done(function(data) 
	{
		ZNodes = data.stock_asset_serials;
		$.fn.zTree.init($("#treeGoal"), setting, ZNodes);
		
		var treeObj = $.fn.zTree.getZTreeObj("treeGoal");
		var nodes = treeObj.getCheckedNodes(false);
		for (var i=0, l=nodes.length; i < l; i++) {
			if(!nodes[i].icon)
				treeObj.setChkDisabled(nodes[i], true);
		}
		//hide loading
		$.fn.loading.hide();
	});
}
function onClick(event, treeId, treeNode, clickFlag) {

}
function checkNode()
{
	//set check
	var ChildZTree = $.fn.zTree.getZTreeObj("treeGoal");
	
	childCheck = ChildZTree.getCheckedNodes(true);
	
	if(childCheck.length <=0)
		$("#showError").show();
	else
		$("#showError").hide();
}
function onSubmit()
{	
	if($("#assetTbody tr").size() <=0)
	{
		$("#showError").show();
		return false;
	}
	else
		$("#showError").hide();
	
	//validate
	var $valid = jQuery("#release-asset").valid();
	if(!$valid) 
	{
		$validator.focusInvalid();
		return false;
	}
	else
	{
		var temp ="";
		$("#assetTbody tr[serial]").each(function()
		{
			temp += $(this).attr('serial')+",";
		});
		temp = temp.substr(0,temp.length-1);
		$("#txtListSerial").val(temp);
		$("#release-asset").submit();
	}
		
}
function Remove(serial)
{
	var zTree = $.fn.zTree.getZTreeObj("treeGoal");
	
	var tr= $("#assetTbody tr[serial][serial ='"+serial+"']");
	tr.remove();
	var node = zTree.getNodeByParam("serial", serial, null);
	node.checked = false;
	zTree.refresh();
	//check node checked on tree
	checkNode();
}
function getFontCss(treeId, treeNode) {
	return (!!treeNode.highlight) ? {color:"#A60000", "font-weight":"bold"} : {color:"#333", "font-weight":"normal"};
}
function onChangeTree()
{
	var zTree = $.fn.zTree.getZTreeObj("treeGoal");
		var value = $("#txtSearch").val();
		var keyType = "name";
		if (lastValue === value) return;
		lastValue = value;
		if (value === "") return;
		updateNodes(false);
		nodeList = zTree.getNodesByParamFuzzy(keyType, value,null);
		updateNodes(true);
}
function updateNodes(highlight) {
	var zTree = $.fn.zTree.getZTreeObj("treeGoal");
	for( var i=0, l=nodeList.length; i<l; i++) {
		nodeList[i].highlight = highlight;
		zTree.updateNode(nodeList[i]);
	}
}
function beforeEditName(treeId, treeNode) {
	window.location.href  = "/goal/edit/"+treeNode.id+"/";
	return false;
}
function beforeRemove(treeId, treeNode) {
	$("#txtID").val(treeNode.id);
	return false;
}
</script>
{% endblock scripts%}
