{% extends "base.html" %}
{% block styles %}
	<link href="/css/increment-asset.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="contentpanel no-padding" style="background:#828283">
	<div class="col-md">
	  <div class="panel panel-primary">
		<div class="panel-heading">
		  <h4 class="panel-title" style="text-align:center;line-height:10px">ĐÁNH GIÁ LẠI TÀI SẢN</h4>
		</div>
		<form>
		<div class="panel-body">
		  <div class="row row-pad-5">
			<div class="alert alert-warning">
				<div class="row" >
					<div class="col-lg-4">
						<select id= "asset_code" class="form-control chosen-select" data-placeholder="Mã ĐV giảm..">
						  <option value=""></option>
						  <option value="United States">TTVTT</option>
						</select>
					</div>
					<div class="col-lg-8">
					  <input type="text" name="asset_name" placeholder="Tên đơn vị giảm" class="form-control">
					</div>

					<div class="col-lg-4">
						<select id= "asset_code" class="form-control chosen-select" data-placeholder="Mã NV Thực hiện.." >
						  <option value=""></option>
						  <option value="United States">TTVTT</option>
						</select>
					</div>
					<div class="col-lg-8">
					  <input type="text" name="asset_name" placeholder="Tên nhân viên thực hiện" class="form-control">
					</div>

					<div class="col-lg-4">
						<select id= "asset_code" class="form-control chosen-select" data-placeholder="Chọn mã tài sản giảm.." >
						  <option value=""></option>
						  <option value="United States">TTVTT</option>
						</select>
					</div>

					<div class="col-lg-8">
					  <input type="text" name="asset_name" placeholder="Tên tài sản giảm" class="form-control">
					</div>
					<div class="col-lg-4">
						<select id= "asset_code" class="form-control chosen-select" data-placeholder="Nguồn vốn.." >
						  <option value=""></option>
						  <option value="United States">TTVTT</option>
						</select>
					</div>

					<div class="col-lg-8">
					  <input type="email" name="origin_price" placeholder="Nguyên Giá" class="form-control">
					</div>

				</div> <!--row-->
			</div> <!-- alert alert-warning -->
			
			<div class="col-lg-4">
				<select id= "asset_code" class="form-control chosen-select" data-placeholder="Lý do đánh giá lại.." >
				  <option value=""></option>
				  <option value="United States">TTVTT</option>
				</select>
			</div>

			<div class="col-lg-4">
				<div class="input-group">
					<input type="text" class="form-control hasDatepicker" placeholder="Ngày đánh giá" id="buy_date">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				</div>
			</div>

			<div class="col-lg-4">
			  <input type="url" name="remain_amount" placeholder="Giá trị còn lại" class="form-control">
			</div>
			</div><!-- row -->
			<textarea class="form-control" name="note" rows="7" placeholder="Ghi chú"></textarea>

		  </div><!-- panel-body -->
		<div class="panel-footer">
			<button class="btn btn-primary">In biên bản</button>
			<button class="btn btn-primary">Lưu</button>
			<button class="btn btn-primary">Đóng</button>
		</div>
		</form>
	  </div><!-- panel body-->
	</div>
</div>
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.autogrow-textarea.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js"></script>

<script src="/js/custom.js"></script>

<script>
$(document).ready(function(){
	// Chosen Select
		$(".chosen-select").chosen({
			'width' : '100%',
			'white-space' : 'nowrap'
		});
		// Date Picker
		$('#buy_date').datepicker({
			dateFormat : 'dd/mm/yy',
		});

		// Input Masks
		$('#buy_date').mask("99/99/9999");
	});
</script>
{% endblock scripts%}