{% extends "base.html" %} 
{% load i18n %}
{% block styles %}
<link href="/css/style.default.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">
{% endblock styles %} 
{% block content-header %}
<div class="pageheader">
	<h2>
		<i class="fa fa-home"></i> {% trans 'Tài khoản' %}<span>{% trans 'Sửa thông tin tài' %}
	</h2>
	<div class="breadcrumb-wrapper">
		<ol class="breadcrumb">
			<li><a href="/user/">User</a></li>
			<li class="active">{{ current_user.username }}</li>
		</ol>
	</div>
</div>
{% endblock %} 
{% block content %}
<div class="contentpanel nopadding" style="background: #828283">
	<div class="col-md">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title" style="text-align: center;">{% trans 'KIỂM KÊ TÀI SẢN' %}</h4>
			</div>

			<form action="" class="form form-bordered" method="post"
				id="form-verify-asset-edit" novalidate="novalidate">
				{% csrf_token %}
				<div class="panel-body">
					{% if has_error %}
						<div class="panel">
							<label class="error">{{ has_error }}</label>
						</div>
					{% endif %}
					<div class="row row-pad-5">
						<div class="alert alert-info">
							<div class="row">
								<div class="col-sm-4">
									<div class="form-group">
										<label class="control-label">{% trans 'Số thẻ TSCĐ' %}</label> <input
											type="text"  placeholder="{% trans 'Tài khoản' %}"
											class="form-control" required="required"
											value="{{ serial.serial }}" disabled="disabled">
									</div>
								</div>

								<div class="col-sm-4">
									<div class="form-group">
										<label class="control-label">{% trans 'Tên tài sản' %}</label>
										<input type="text"  placeholder="{% trans 'Tên tài sản ...' %}"
											class="form-control" value="{{ serial.asset.name }}"
											disabled="disabled">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label">{% trans 'Nguyên giá' %}</label>
									<div class="col-sm-4">
										<input type="text" name="txtPassWord"
											 class="form-control"
											value="{{ serial.original_value }}" disabled="disabled">
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-4">
									<div class="form-group">
										<label class="control-label">{% trans 'Nguồn vốn' %}</label> <input
											type="text"  placeholder="{% trans 'Tài khoản' %}"
											class="form-control" required="required"
											value="{{ serial.capital.name }}" disabled="disabled">
									</div>
								</div>

								<div class="col-sm-4">
									<div class="form-group">
										<label class="control-label">{% trans 'Nhà cung cấp' %}</label> <input
											type="text" placeholder="Mật khẩu"
											class="form-control" value="{{ serial.supplier.name }}"
											disabled="disabled">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label">{% trans 'Đối tác' %}</label>
									<div class="col-sm-4">
										<input type="text" name="txtPassWord"
											placeholder="{% trans 'Nhập lại mật khẩu' %}" class="form-control"
											value="{{ serial.country.name }}" disabled="disabled">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="form-group">
										<label class="control-label">{% trans 'Giá trị còn lại' %}</label>
											<input type="text" placeholder="{% trans 'Giá trị còn lại ' %}"
												name = "txtRemainAmount"class="form-control numberic" value="{{ serial.remain_value }}"
												required maxlength="15">
									</div>
								</div>
								
								<div class="col-sm-4">
									<div class="form-group">
										<label class="control-label">{% trans 'Trạng Thái' %}</label>
										<select id="slState" name="slState"class="form-control chosen-select"
											data-placeholder="{% trans 'Lý do giảm..' %}" required="required">
											<option value=""></option>
											{% for state in states%}
												<option value="{{ state.id }}">{{ state.code }} - {{ state.name }}</option>
											{% endfor %}
										</select>
										<label for="slState" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label class="control-label">{% trans 'Ngày kiểm kê' %}</label>
										<div class="input-group">
											<input type="text" class="form-control"
												data-provide="datepicker" data-date-format="dd/mm/yy" placeholder="{% trans 'Ngày kiểm kê' %}" id="dt_verify"
												name = "dtVerify" required>
											<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
										</div>
									</div>
								</div>
								
								<div class="col-sm-4">
									<div class="form-group">
										<label class="control-label">{% trans 'Số biên bản' %}</label>
										<input type="text" 
											name = "txtCheckNo"class="form-control" value="" placeholder="{% trans 'Số biên bản' %}"
											required maxlength="10">
									</div>
								</div>
								
								<div class="col-sm-4">
									<div class="form-group">
										<label class="control-label">{% trans 'Người chuyển' %}</label>
										<select id="slStaff" name="slStaff" class="form-control chosen-select"
											data-placeholder="{% trans 'Người kiểm kê' %}" required="required">
											<option value=""></option>
											{% for staff in staffs %}
												<option value="{{ staff.code }}">{{ staff.name }}</option>
											{% endfor %}
										</select>
										<label for="slStaff" class="error" style="display: none;">{% trans 'Trường không được để trống' %}</label>
									</div>
								</div>
								
								<div class="col-sm-12">
									<div class="form-group">
										<label class="control-label">{% trans 'Ghi Chú' %}</label>
											<textarea class="form-control" name="txtNote" rows="3"
												placeholder="{% trans 'Ghi chú' %}" required maxlength="100"></textarea>
									</div>
								</div>	
							</div>
							<div class="row">
								<div class="col-sm">
									<button class="btn btn-primary" onclick="return onValidate();">{% trans 'Thực hiện' %} &nbsp;</button>
									
								</div>
							</div>
						</div> <!-- alert-warning -->
					</div> <!-- row-pad-5 -->
					
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.autogrow-textarea.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.numeric.js"></script>

<script src="/js/custom.js"></script>
<script>
	$(document).ready(function(){
		  // Chosen Select
		  $(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
		  
		// Date Picker
		  $('#dt_verify').datepicker({dateFormat: 'dd/mm/yy',maxDate: '0'});
		//set default date now
		 $("#dt_verify").datepicker("setDate",new Date());
		  // Input Masks
		  $("#dt_verify").mask("99/99/9999");
		  $( "#slStaff" ).change(function() {
			  $(".error[for][for='slStaff']").hide();
		  });
		//validate
		$.validator.setDefaults({ ignore: ":hidden:not(select)" })
	});
	function onValidate() {
		var $valid = jQuery('#form-verify-asset-edit').validate();
		if (!$valid) {
			$validator.focusInvalid();
			return false;
		}
		jQuery('#form-verify-asset-edit').submit();
	}
	jQuery(window).load(function(){ 
		$(".numberic").numeric();
		var state_id = '{{ state }}'
		$("#slState").val(state_id);
		$('#slState').chosen('destroy');
		$('#slState').chosen();
		$("form:not(.filter) :input:visible:enabled:first").focus();
	});
</script>
{% endblock scripts%}