{% extends "base.html" %}
{% load i18n %}
{% block styles %}
	<link href="/css/increment-asset.css" rel="stylesheet">
	<link href="/css/print-preview.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/ui-lightness/jquery-ui.min.css" type="text/css">
{% endblock %}
{% block content %}
<div class="contentpanel no-padding" style="background: #828283">
	<form class="form-horizontal form-bordered" method="post" id="viewAsset">
		{% csrf_token %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title"
					style="text-align: center; line-height: 10px">{% trans 'LỊCH SỬ TÀI SẢN' %}</h4>
			</div>
			
			<div class="panel-body">
				{% if has_error %}
					<div class="panel">
						<label class="error">{{ has_error }}</label>
					</div>
				{% endif %}
				<div class="form-group" style="padding: 0px;">
					<div class="alert alert-info" style="padding-top: 0px;padding-bottom: 15px;">
						<div class = "row row-pad-5">
							<div class = "col-md-7" style="margin-top: 10px;">
								<div class="profile-location">
									<p><span>{% trans 'TÊN TÀI SẢN:' %} </span><span><strong>{{ stockAssetSerial.name }}</strong></span></p>
									<p><span>{% trans 'SERIAL :' %}</span><span><strong>{{ stockAssetSerial.serial }}</strong></span></p>
								</div>
							</div>
							<div class = "col-md-5" style="margin-top: 10px;">
								<div class="profile-location">
									<p><span>{% trans 'NGƯỜI TẠO:' %} </span><span><strong>{{ stockAssetSerial.user_name }} </strong></span></p>
									<p><span>{% trans 'NGÀY TẠO :' %}</span><span><strong> {{ stockAssetSerial.import_date|date:'d-m-Y' }} </strong></span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm" >
						<div class="table-responsive">
							<table class="table table-bordered" id="assetTable">
								<thead>
									<tr>
										<th style="width: 5%;" style="width: 12%;text-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'STT' %}</th>
										<th style="text-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'TÁC ĐỘNG' %} </th>
										<th style="text-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'KHO' %} </th>
										<th style="text-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'MỤC ĐÍCH' %} </th>
										<th style="text-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'NGUỒN VỐN' %} </th>
										<th style="text-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'PHƯƠNG PHÁP TÍNH' %} </th>
										<th style="text-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'GIÁ TRỊ CŨ' %} </th>
										<th style="text-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'GIÁ TRỊ CÒN LẠI' %} </th>
										<th style="text-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'SỐ LƯỢNG' %} </th>
										<th style="widtext-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'TÀI SẢN CHA' %} </th>
										<th style="text-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'GHI CHÚ' %} </th>
										<th style="text-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'NGƯỜI TẠO' %} </th>
										<th style="text-align: left;font-family: Arial,Helvetica,sans-serif;">{% trans 'NGÀY TẠO' %}</th>
									</tr>
								</thead>
								<tbody>
									{% for stockAssetSerial in stockAssetSerials %}
									<tr class="odd gradeX">
										<td>{{ forloop.counter }}</td>
										<td>{{ stockAssetSerial.action.name }}</td>
										<td>{{ stockAssetSerial.stock.name }}</td>
										<td>{{ stockAssetSerial.goal.name }}</td>
										<td>{{ stockAssetSerial.capital.name }}</td>
										<td>{{ stockAssetSerial.amortize.name }}</td>
										<td>{{ stockAssetSerial.original_value }}</td>
										<td >{{ stockAssetSerial.remain_value }}</td>
										<td >{{ stockAssetSerial.interval }}</td>
										<td >{{ stockAssetSerial.parent_serial }}</td>
										<td>{{ stockAssetSerial.note }}</td>
										<td>{{ stockAssetSerial.user_name }}</td>
										<td>{{ stockAssetSerial.change_date|date:'d-m-Y' }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- table-responsive -->
					</div> <!--row-->
				</div>
				<div class="form-group" style="padding: 0px;">
					<div class="row row-pad-5">
						<div class="breadcrumb-wrapper">
							<a class="btn btn-success" href="/view-asset/">{% trans 'Quay lại' %}</a>
						</div>
					</div>
				</div>
			</div>
			<!-- panel-body -->
		</div>
		<input type="hidden" id="hd_country_id" value="">
		<div id="dialog-confirm" title="{% trans 'Xóa nhà cung cấp ?' %}" >
			<p><span style="float:left; margin:0 7px 20px 0;"></span>{% trans 'Khi xóa nhà cung cấp này,có thể sẻ mất những dữ liệu liên quan.Bạn có chắc chắn muốn xóa không?' %}</p>
		</div>
		<!-- panel body-->
	</form>
</div>

{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="js/jquery.confirm.js"></script>
<script src="/js/jquery.autogrow-textarea.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js"></script>
<script src="/js/jquery.datatables.min.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js" ></script> 

<script src="/js/custom.js"></script>

<script>
$(document).ready(function(){
  // Chosen Select
  $(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
 
  $('#assetTable').dataTable({
		"sPaginationType" : "full_numbers"
	});
  $(".table-responsive  select").chosen({
		'min-width' : '150px',
		'white-space' : 'nowrap',
		disable_search_threshold : 10
	});
	$("#dialog-confirm" ).dialog({
		 autoOpen: false, 
		resizable: false,
		height:200,
		modal: true,
		buttons: {
			"Có": function() {
				window.location.href = "/country/delete/"+$("#hd_country_id").val()+"/";;
				$( this ).dialog( "close" );
			},
			"Không": function() {
				$( this ).dialog( "close" );
			}
		}
	});
});
function onDelete(project_id)
{
	$("#hd_country_id").val(project_id);
	$("#dialog-confirm" ).dialog('open');
}
</script>
{% endblock scripts%}