{% extends "base.html" %} 
{% block content %}
<div class="pageheader">
	<h2>
		<i class="fa fa-home"></i>Hệ thống quản lý tài sản <span>Danh sách các chức năng</span>
	</h2>
</div>
<div class="contentpanel">
	<div class="row">
		<div class="col-sm">
			<div class="row filemanager">
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<div class="thmb-prev">
							<a href="/increment-asset/" data-rel="prettyPhoto"
								rel="prettyPhoto"> <img src="/images/photos/media6.png"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/increment-asset/">Tăng tài sản </a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<div class="thmb-prev">
							<a href="/decrement-asset/" data-rel="prettyPhoto"
								rel="prettyPhoto"> <img src="/images/photos/media4.png"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/decrement-asset/">Giảm tài sản </a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<div class="thmb-prev">
							<a href="/join-asset/" data-rel="prettyPhoto"
								rel="prettyPhoto"> <img src="/images/photos/blog4.jpg"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/join-asset/">Gộp tài sản </a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<!-- btn-group -->
						<div class="thmb-prev">
							<a href="/release-asset/" data-rel="prettyPhoto"
								rel="prettyPhoto"> <img src="/images/photos/photo2.png"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/release-asset/">Tách tài sản </a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<!-- btn-group -->
						<div class="thmb-prev">
							<a href="/amortize-asset/" data-rel="prettyPhoto"
								rel="prettyPhoto"> <img src="/images/photos/khau_hao.jpg"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/amortize-asset/">Tính khấu hao tài sản </a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<!-- btn-group -->
						<div class="thmb-prev">
							<a href="/verify-asset/" data-rel="prettyPhoto"
								rel="prettyPhoto"> <img src="/images/photos/media5.png"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/verify-asset/">Kiểm kê tài sản </a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<!-- btn-group -->
						<div class="thmb-prev">
							<a href="/evaluation-asset/" data-rel="prettyPhoto"
								rel="prettyPhoto"> <img src="/images/photos/danh_gia.jpg"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/evaluation-asset/">Đánh giá lại tài sản </a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<!-- btn-group -->
						<div class="thmb-prev">
							<a href="/transfer-asset/" data-rel="prettyPhoto"
								rel="prettyPhoto"> <img src="/images/photos/chuyen_doi.jpg"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/transfer-asset/">Chuyển đổi tài sản </a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.datatables.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>

<script src="/js/custom.js"></script>
<script>
	jQuery(document).ready(function() {

	});
</script>
{% endblock scripts%}
