<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/css/style.default.css" type="text/css">
<link href="/css/print-preview.css" rel="stylesheet">
</head>
<body style="overflow: auto;">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<p class="serif">Mẫu số S23-DN:Thẻ tài sản cố định</p>
				</div>
				<div class="col-sm-6 text-left">
				<br/>
				<br/>
				<p class="serif bolder">Đơn vị: ..................................................</p>
				<p class="serif bolder"> Địa Chỉ: ..................................................</p>
				</div>
				<!-- col-sm-6 -->

				<div class="col-sm-6 text-right">
					<p class="text-center serif bolder">Mẫu số S23-DN</p>
					<p class="text-center serif">(Ban hành theo QĐ số 15/2006/QĐ-BTC </p>
					<p class="text-center serif">ngày 20/3/2006 của Bộ trưởng BTC)</p>
				</div>
				<div class="col-sm-12">
					<p class="text-center serif bolder">THẺ TÀI SẢN CỐ ĐỊNH</p>
					<p class="text-center serif">Số:....................</p>
					<p class="text-center serif">Ngày..........tháng .......... năm .......... lập thẻ .......... </p>
					<p class="text-left serif">Căn cứ vào biên bản giao nhận TSCĐ số .................... ngày .......... tháng .......... năm ..........</p>
					<p class="text-left serif">Tên, mã ký hiệu, quy cách (cấp hạng) TSCĐ:  <span class="bolder">{{ stockAssetSerial.name }} </span> 
												Số hiệu TSCĐ: <span class="bolder">{{ stockAssetSerial.serial }}</span></p>
					<p class="text-left serif">Nước sản xuất (xây dựng):<span class="bolder">{{ stockAssetSerial.country.name }}</span>
												Năm sản xuất:<span class="bolder">{{ stockAssetSerial.product_date|date:'d-m-Y' }}</span></p>
					<p class="text-left serif">Bộ phận quản lý, sử dụng: <span class="bolder">{{  stockAssetSerial.stock.dept.name }}</span>
												Năm đưa vào sử dụng .......... </p>
					<p class="text-left serif">Công suất (diện tích thiết kế):<span class="bolder">{{ stockAssetSerial.power }} {{ stockAssetSerial.unit }}</span></p>
					<p class="text-left serif">Đình chỉ sử dụng TSCĐ ngày..........tháng .......... năm..........</p>
					<p class="text-left serif">Lý do đình chỉ ........................................</p>
				</div>
			</div>
			<!-- row -->

			<div class="table-responsive">
				<table class="table table-bordered mb30">
					<thead>
					<tr>
						<th rowspan="2" class="text-center" style="font-family: serif,sans-serif;">Số hiệu trứng từ</th>
						<th colspan="3" class="text-center" style="font-family: serif,sans-serif;">Nguyên giá tài sản cố định</th>
						<th colspan="3" class="text-center" style="font-family: serif,sans-serif;">Giá trị hao mòn tài sản cố định</th>
					</tr>
					<tr>
						<th class="text-center " style="font-family: serif,sans-serif;">Ngày,tháng,năm</th>
						<th class="text-center " style="font-family: serif,sans-serif;">Diễn giải</th>
						<th class="text-center " style="font-family: serif,sans-serif;">Nguyên giá</th>
						<th class="text-center " style="font-family: serif,sans-serif;">Năm</th>
						<th class="text-center " style="font-family: serif,sans-serif;">Giá trị hao mòn</th>
						<th class="text-center " style="font-family: serif,sans-serif;">Cộng dồn</th>
					</tr>
					</thead>
					<tbody>
						<tr style="height: 25px;">
							<td class="text-center serif"></td>
							<td class="text-center serif"></td>
							<td class="text-center serif"></td>
							<td class="text-right serif"></td>
							<td class="text-right serif"></td>
							<td class="text-right serif"></td>
							<td class="text-right serif"></td>
						</tr>
						<tr style="height: 25px;">
							<td class="text-center serif"></td>
							<td class="text-center serif"></td>
							<td class="text-center serif"></td>
							<td class="text-right serif"></td>
							<td class="text-right serif"></td>
							<td class="text-right serif"></td>
							<td class="text-right serif"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- table-responsive -->
			
			<div class="table-responsive">
				<p class="serif bolder"> Dụng cụ phụ tùng kèm theo </p>
				<table class="table table-bordered mb30">
					<thead>
					<tr>
						<th class="text-center" style="font-family: serif,sans-serif;">Số TT</th>
						<th class="text-center" style="font-family: serif,sans-serif;">Tên, quy cách dụng cụ,phụ tùng</th>
						<th class="text-center" style="font-family: serif,sans-serif;">Đơn vị</th>
						<th class="text-center" style="font-family: serif,sans-serif;">Số lượng</th>
						<th class="text-center" style="font-family: serif,sans-serif;">Giá trị</th>
					</tr>
					</thead>
					<tbody>
						<tr style="height: 25px;">
							<td class="text-center serif" ></td>
							<td class="text-center serif"></td>
							<td class="text-center serif"></td>
							<td class="text-right serif"></td>
							<td class="text-right serif"></td>
						</tr>
						<tr style="height: 25px;">
							<td class="text-center serif" ></td>
							<td class="text-center serif"></td>
							<td class="text-center serif"></td>
							<td class="text-right serif"></td>
							<td class="text-right serif"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- table-responsive -->
			<div class="row">
				<div class="col-sm-12 text-left"style="margin-bottom: 1%;">
					<p class="text-left serif">Ghi giảm TSCĐ chứng từ </p>
					<p class="text-left serif">sổ:……………..ngày…tháng…năm…………………………….</p>
					<p class="text-left serif">Lý do giảm……………………………………………………………………………………</p>
				</div>
				<div class="col-sm-6 text-left">
					<div class="col-sm-6 text-left">
						<p class="text-left serif bolder">Người lập</p>
						<p class="text-left serif">(Ký, họ tên)</p>
					</div>
					<div class="col-sm-6 text-right">
						<p class="text-left serif bolder">Kế toán trưởng</p>
						<p class="text-left serif">(Ký, họ tên)</p>
						
					</div>
				</div>
				<div class="col-sm-6 text-right">
					<p class="text-center serif">Ngày ....tháng ....năm ....</p>
					<p class="text-center serif bolder">Giám đốc</p>
					<p class="text-center serif">(Ký, họ tên, đóng dấu)</p>
				</div>
			</div>
		</div>
		<!-- panel-body -->
	</div>
	
</body>
</html>