<div class="leftpanel">
	

	<div class="leftpanelinner" style="background: #1d2939">
		<div class="logopanel" style="padding:0px;margin-bottom:15px; text-align: center;">
			<h1>
				 FMS - Ver 2.0 
			</h1>
		</div>
		<!-- logopanel -->
		<ul class="nav nav-pills nav-stacked nav-bracket">
			<li ><a href="/home/"><i class="fa fa-home"></i> <span>TRANG CHỦ</span></a></li>
			<li class="nav-parent"><a href="#"><i
					class="fa fa-building-o"></i> <span>CHỨC NĂNG</span></a>
				<ul class="children">
					<li><a href="/increment-asset/"><i class="fa fa-caret-right"></i>
							<span>TĂNG TÀI SẢN</span></a></li>
					<li><a href="/decrement-asset/"><i class="fa fa-caret-right"></i>
							<span>GIẢM TÀI SẢN</span></a></li>
					<!-- <li><a href="/revaluate-asset/"><i class="fa fa-caret-right"></i>
							<span>ĐÁNH GIÁ LẠI TS</span></a></li> -->
					<li><a href="/join-asset/"><i class="fa fa-caret-right"></i>
							<span>GỘP TÀI SẢN</span></a></li>
					<li><a href="/release-asset/"><i class="fa fa-caret-right"></i>
							<span>TÁCH TÀI SẢN</span></a></li>
					<li><a href="/amortize-asset/"><i class="fa fa-caret-right"></i>
							<span>KHẤU HAO TÀI SẢN</span></a></li>
					<li><a href="/verify-asset/"><i class="fa fa-caret-right"></i> <span>KIỂM
								KÊ TÀI SẢN</span></a></li>
					<li><a href="/view-asset/"><i class="fa fa-caret-right"></i> <span>TRA
								CỨU TÀI SẢN</span></a></li>
					<li><a href="/evaluation-asset/"><i class="fa fa-caret-right"></i> <span>ĐÁNH GIÁ LẠI TÀI SẢN</span></a></li>
					<li><a href="/transfer-asset/"><i class="fa fa-caret-right"></i> <span>CHUYỂN ĐỔI TÀI SẢN</span></a></li>
				</ul></li>
			<li class="nav-parent"><a href="#"><i
					class="fa fa-bar-chart-o"></i> <span>BÁO CÁO</span></a>
				<ul class="children">
					<li><a href="/report/verify-asset-report"><i
							class="fa fa-caret-right"></i>BC CTTSCD-BK07</a></li>
					<li><a href="/report/asset-inventory-report"><i
							class="fa fa-caret-right"></i>BC TSCDTH-4ATHTSCĐ</a></li>
					<!-- <li><a href="/report/asset-inventory-report"><i
							class="fa fa-caret-right"></i>BC CTdatdai-BK06</a></li> -->
				</ul></li>
			<li class="nav-parent"><a href="#"><i
					class="fa fa-file-text"></i> <span>DANH MỤC</span></a>
				<ul class="children">
					<li><a href="/list-asset/"><i class="fa fa-caret-right"></i>Tài
							sản cố định</a></li>
					<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Mục
							đích sử dụng</a></li>
					<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Nguồn
							vốn hình thành</a></li>
					<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Tình
							trạng sử dụng</a></li>
					<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Biến
							động tăng giảm</a></li>
					<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Nước
							sản xuất</a></li>
					<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Trụ
							sở phòng ban</a></li>
					<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Nhà
							cung cấp</a></li>
					<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Lý
							do</a></li>
				</ul></li> 
			{% if user.is_superuser %}
			<li class="nav-parent"><a href="#"><i class="fa fa-cogs"></i>
					<span>CẤU HÌNH</span></a>
				<ul class="children">
					<li><a href="/user/"><i class="fa fa-caret-right"></i>
							Quản lý tài khoản </a></li>
					<li><a href="/group/"><i class="fa fa-caret-right"></i>
							Danh sách phòng ban</a></li>
			</ul></li> 
			{% endif %}
			<li><a href="/logout/"><i class="fa fa-sign-out"></i> <span>ĐĂNG
						XUẤT</span></a></li>

			<div class="infosummary">
				<h5 class="sidebartitle">TRẠNG THÁI HỆ THỐNG</h5>
				<ul>
					<li>
						<div class="datainfo">
							<span class="text-muted">Average Users</span>
							<h4>1, 332, 801</h4>
						</div>
						<div id="sidebar-chart2" class="chart"></div>
					</li>
					<li>
						<div class="datainfo">
							<span class="text-muted">Disk Usage</span>
							<h4>82.2%</h4>
						</div>
						<div id="sidebar-chart3" class="chart"></div>
					</li>
					<li>
						<div class="datainfo">
							<span class="text-muted">CPU Usage</span>
							<h4>140.05 - 32</h4>
						</div>
						<div id="sidebar-chart4" class="chart"></div>
					</li>
					<li>
						<div class="datainfo">
							<span class="text-muted">Memory Usage</span>
							<h4>32.2%</h4>
						</div>
						<div id="sidebar-chart5" class="chart"></div>
					</li>
				</ul>
			</div>
			<!-- infosummary -->
		</ul>
	</div>
	<!-- leftpanelinner -->
</div>
<!-- leftpanel -->