<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">

  <title>Bracket Responsive Bootstrap3 Admin</title>

	<link href="css/style.default.css" rel="stylesheet">
	<link href="css/jquery.datatables.css" rel="stylesheet">

  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>
 <div class="leftpanel">
	<div class="logopanel" style="text-align:center;">
        <h1><span>[ </span> FMS - Ver 2.0 <span> ]</span></h1>
    </div><!-- logopanel -->

    <div class="leftpanelinner" style="background:#1d2939">    
      <ul class="nav nav-pills nav-stacked nav-bracket">
        <li><a href="form-UpAsset.html"><i class="fa fa-upload"></i> <span>TĂNG TÀI SẢN</span></a></li>
        <li><a href="form-DownAsset.html"><i class="fa fa-download"></i> <span>GIẢM TÀI SẢN</span></a></li>
        <li><a href="form-RevaluateAsset.html"><i class="fa fa-th-list"></i> <span>ĐÁNH GIÁ LẠI TS</span></a></li>
		<li><a href="form-VerifyAsset.html"><i class="fa fa-th-list"></i> <span>KIỂM KÊ TÀI SẢN</span></a></li>
        <li class="nav-parent"><a href="#"><i class="fa fa-bar-chart-o"></i> <span>BÁO CÁO</span></a>
          <ul class="children">
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Báo cáo THHHHC</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Báo cáo THHHHC</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Báo cáo THHHHC</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Báo cáo THHHHC</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Báo cáo THHHHC</a></li>
			</ul>
		</li>
        <li class="nav-parent"><a href="#"><i class="fa fa-file-text"></i> <span>DANH MỤC</span></a>
			<ul class="children">
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Danh mục phòng ban</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Danh mục phòng ban</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Danh mục phòng ban</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Danh mục phòng ban</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Danh mục phòng ban</a></li>
			</ul>
        </li>
        <li class="nav-parent"><a href="#"><i class="fa fa-cogs"></i> <span>CẤU HÌNH</span></a>
			<ul class="children">
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Đổi mật khẩu</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Cấu hình nâng cao</a></li>
			</ul>
        </li>		
      </ul>

      
      <div class="infosummary">
        <h5 class="sidebartitle">Information Summary</h5>    
        <ul>
            <li>
                <div class="datainfo">
                    <span class="text-muted">Average Users</span>
                    <h4>1, 332, 801</h4>
                </div>
                <div id="sidebar-chart2" class="chart"></div>   
            </li>
            <li>
                <div class="datainfo">
                    <span class="text-muted">Average Users</span>
                    <h4>1, 332, 801</h4>
                </div>
                <div id="sidebar-chart2" class="chart"></div>   
            </li>
            <li>
                <div class="datainfo">
                    <span class="text-muted">Disk Usage</span>
                    <h4>82.2%</h4>
                </div>
                <div id="sidebar-chart3" class="chart"></div>   
            </li>
            <li>
                <div class="datainfo">
                    <span class="text-muted">CPU Usage</span>
                    <h4>140.05 - 32</h4>
                </div>
                <div id="sidebar-chart4" class="chart"></div>   
            </li>
            <li>
                <div class="datainfo">
                    <span class="text-muted">Memory Usage</span>
                    <h4>32.2%</h4>
                </div>
                <div id="sidebar-chart5" class="chart"></div>   
            </li>
        </ul>
      </div><!-- infosummary -->
      
    </div><!-- leftpanelinner -->
  </div><!-- leftpanel -->
<div class="contentpanel" style="background:#828283">
		<div class="col-md-10" style="margin-left:18%;">
		  <div class="panel panel-primary">
			<div class="panel-heading">
			  <h4 class="panel-title" style="text-align:center;line-height:10px">KIỂM KÊ TÀI SẢN</h4>
			</div>
			<form>
			
			<div class="panel-body">
				<div class="alert alert-warning" style="margin-bottom:1%;">
					<div class="row" style="margin-bottom:1%;">
						<div class="col-lg-3">
							<select id= "asset_code" class="form-control chosen-select" data-placeholder="Mã Phòng ban kiểm kê.." style="display: none;">
							  <option value=""></option>
							  <option value="United States">TTVTT</option>
							</select>
						</div>
						<div class="col-lg-9">
						  <input type="text" name="asset_name" placeholder="Tên phòng ban kiểm kê.." class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3">
							<select id= "asset_code" class="form-control chosen-select" data-placeholder="Mã Nhân viên" style="display: none;">
							  <option value=""></option>
							  <option value="United States">TTVTT</option>
							</select>
						</div>
						<div class="col-lg-3">
						  <input type="text" name="asset_name" placeholder="Tên NV kiểm kê" class="form-control">
						</div>

						<div class="col-lg-2">
							<div class="input-group">
								<input type="text" class="form-control hasDatepicker" placeholder="Ngày kiểm kê" id="buy_date">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>

						<div class="col-lg-2">
						  <input type="text" name="asset_name" placeholder="Số Biên bản kiểm kê" class="form-control">
						</div>
						<div class="col-lg-2" >
						  <button class="btn btn-primary btn-block" style="margin-top:3px;">Tìm kiếm</button>
						</div>
						
					</div> <!-- Div Row-->
					</div>
				  <div class="table-responsive ">
				  <table class="table table-bordered" id="table2">
					  <thead>
						 <tr>
							<th>Mã Tài sản</th>
							<th>Tên tài sản</th>
							<th>Nguyên Giá</th>
							<th>Giá trị còn lại</th>
							<th>Ghi chú</th>
						 </tr>
					  </thead>
					  <tbody>
						 <tr class="odd gradeX">
							<td>Trident</td>
							<td>Internet
								Explorer 4.0</td>
							<td>Win 95+</td>
							<td class="center"> 4</td>
							<td class="center">X</td>
						 </tr>
						 <tr class="even gradeC">
							<td>Trident</td>
							<td>Internet
								Explorer 5.0</td>
							<td>Win 95+</td>
							<td class="center">5</td>
							<td class="center">C</td>
						 </tr>
						 <tr class="odd gradeA">
							<td>Trident</td>
							<td>Internet
								Explorer 5.5</td>
							<td>Win 95+</td>
							<td class="center">5.5</td>
							<td class="center">A</td>
						 </tr>
						 <tr class="odd gradeA">
							<td>Trident</td>
							<td>Internet
								Explorer 5.5</td>
							<td>Win 95+</td>
							<td class="center">5.5</td>
							<td class="center">A</td>
						 </tr>
						 <tr class="odd gradeA">
							<td>Trident</td>
							<td>Internet
								Explorer 5.5</td>
							<td>Win 95+</td>
							<td class="center">5.5</td>
							<td class="center">A</td>
						 </tr>
						 <tr class="gradeA">
							<td>Gecko</td>
							<td>Firefox 3.0</td>
							<td>Win 2k+ / OSX.3+</td>
							<td class="center">1.9</td>
							<td class="center">A</td>
						 </tr>
						 <tr class="gradeU">
							<td>Other browsers</td>
							<td>All others</td>
							<td>-</td>
							<td class="center">-</td>
							<td class="center">U</td>
						 </tr>
					  </tbody>
				   </table>
				  </div><!-- table-responsive -->	
			  </div><!-- panel-body -->
			<div class="panel-footer" style="padding:6px;">
				<button class="btn btn-primary">Nhập từ File</button>
				<button class="btn btn-primary">In BB KK </button>
				<button class="btn btn-primary">Lưu</button>
				<button class="btn btn-primary">Đóng</button>
			</div>
			</form>
		  </div><!-- panel body-->
		</div>
	</div>
</section>	
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>

<script src="js/jquery.autogrow-textarea.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>
<script src="js/jquery-ui-1.10.3.min.js"></script>
<script src="js/jquery.datatables.min.js"></script>

<script src="js/custom.js"></script>

<script>
jQuery(document).ready(function(){
	jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});

	jQuery('#table2').dataTable({
	  "sPaginationType": "full_numbers"
	});
		// Chosen Select
    jQuery("select").chosen({
      'min-width': '100px',
      'white-space': 'nowrap',
      disable_search_threshold: 10
    });
	// Delete row in a table
    jQuery('.delete-row').click(function(){
      var c = confirm("Continue delete?");
      if(c)
        jQuery(this).closest('tr').fadeOut(function(){
          jQuery(this).remove();
        });
        
        return false;
    });
    
    // Show aciton upon row hover
    jQuery('.table-hidaction tbody tr').hover(function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 1});
    },function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 0});
    });
  
});
</script>

</body>
</html>
