<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">

  <title>Bracket Responsive Bootstrap3 Admin</title>

  <link href="css/style.default.css" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap-fileupload.min.css" />
  <link rel="stylesheet" href="css/bootstrap-timepicker.min.css" />
  <link rel="stylesheet" href="css/jquery.tagsinput.css" />
  <link rel="stylesheet" href="css/colorpicker.css" />
  <link rel="stylesheet" href="css/dropzone.css" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  </head>

<body>
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>
 <div class="leftpanel">
	<div class="logopanel" style="text-align:center;">
        <h1><span>[ </span> FMS - Ver 2.0 <span> ]</span></h1>
    </div><!-- logopanel -->
    <div class="leftpanelinner" style="background:#1d2939">    
      <ul class="nav nav-pills nav-stacked nav-bracket">
        <li><a href="form-UpAsset.html"><i class="fa fa-upload"></i> <span>TĂNG TÀI SẢN</span></a></li>
        <li><a href="form-DownAsset.html"><i class="fa fa-download"></i> <span>GIẢM TÀI SẢN</span></a></li>
        <li><a href="form-RevaluateAsset.html"><i class="fa fa-th-list"></i> <span>ĐÁNH GIÁ LẠI TS</span></a></li>
		<li><a href="form-VerifyAsset.html"><i class="fa fa-th-list"></i> <span>KIỂM KÊ TÀI SẢN</span></a></li>
        <li class="nav-parent"><a href="#"><i class="fa fa-bar-chart-o"></i> <span>BÁO CÁO</span></a>
          <ul class="children">
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Báo cáo THHHHC</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Báo cáo THHHHC</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Báo cáo THHHHC</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Báo cáo THHHHC</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Báo cáo THHHHC</a></li>
			</ul>
		</li>
        <li class="nav-parent"><a href="#"><i class="fa fa-file-text"></i> <span>DANH MỤC</span></a>
			<ul class="children">
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Danh mục phòng ban</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Danh mục phòng ban</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Danh mục phòng ban</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Danh mục phòng ban</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Danh mục phòng ban</a></li>
			</ul>
        </li>
        <li class="nav-parent"><a href="#"><i class="fa fa-cogs"></i> <span>CẤU HÌNH</span></a>
			<ul class="children">
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Đổi mật khẩu</a></li>
				<li><a href="buttons.html"><i class="fa fa-caret-right"></i>Cấu hình nâng cao</a></li>
			</ul>
        </li>		
      </ul>
      
      <div class="infosummary">
        <h5 class="sidebartitle">Information Summary</h5>    
        <ul>
            <li>
                <div class="datainfo">
                    <span class="text-muted">Average Users</span>
                    <h4>1, 332, 801</h4>
                </div>
                <div id="sidebar-chart2" class="chart"></div>   
            </li>
            <li>
                <div class="datainfo">
                    <span class="text-muted">Average Users</span>
                    <h4>1, 332, 801</h4>
                </div>
                <div id="sidebar-chart2" class="chart"></div>   
            </li>
            <li>
                <div class="datainfo">
                    <span class="text-muted">Disk Usage</span>
                    <h4>82.2%</h4>
                </div>
                <div id="sidebar-chart3" class="chart"></div>   
            </li>
            <li>
                <div class="datainfo">
                    <span class="text-muted">CPU Usage</span>
                    <h4>140.05 - 32</h4>
                </div>
                <div id="sidebar-chart4" class="chart"></div>   
            </li>
            <li>
                <div class="datainfo">
                    <span class="text-muted">Memory Usage</span>
                    <h4>32.2%</h4>
                </div>
                <div id="sidebar-chart5" class="chart"></div>   
            </li>
        </ul>
      </div><!-- infosummary -->
      
    </div><!-- leftpanelinner -->
  </div><!-- leftpanel -->
<div class="contentpanel" style="background:#828283">
	<div class="col-md" style="margin-left:18%;">
	  <div class="panel panel-primary">
		<div class="panel-heading">
		  <h4 class="panel-title" style="text-align:center;line-height:10px">TĂNG TÀI SẢN</h4>
		</div>
		<form>
		<div class="panel-body">
			<div class="col-sm-9" style="margin-left:18%;">
				  <div class="row filemanager">
										
					<div class="col-xs-5 image">
					  <div class="thmb" style="background:#1d2939">
						<div class="thmb-prev">
						  <a href="images/photos/report01.png" data-rel="prettyPhoto" rel="prettyPhoto">
							<img src="images/photos/report01.png" class="img-responsive" alt="">
						  </a>
						</div>
						<h5 class="fm-title"><a href="#">report01.png</a></h5>
						<small class="text-muted">Added: Dec 30, 2013</small>
					  </div><!-- thmb -->
					</div><!-- col-xs-5 -->

					<div class="col-xs-5 image">
					  <div class="thmb" style="background:#1d2939">
						<div class="ckbox ckbox-default">
						  <input type="checkbox" id="check10" value="1">
						  <label for="check10"></label>
						</div>
						<div class="btn-group fm-group">
							<button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu fm-menu" role="menu">
							  <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
							  <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
							  <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
							  <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
							  <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
							</ul>
						</div><!-- btn-group -->
						<div class="thmb-prev">
						  <a href="images/photos/report02.png" data-rel="prettyPhoto" rel="prettyPhoto">
							<img src="images/photos/report02.png" class="img-responsive" alt="">
						  </a>
						</div>
						<h5 class="fm-title"><a href="#">report01.png</a></h5>
						<small class="text-muted">Added: Dec 30, 2013</small>
					  </div><!-- thmb -->
					</div><!-- col-xs-5 -->

					<div class="col-xs-5 image">
					  <div class="thmb" style="background:#1d2939">
						<div class="ckbox ckbox-default">
						  <input type="checkbox" id="check10" value="1">
						  <label for="check10"></label>
						</div>
						<div class="btn-group fm-group">
							<button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu fm-menu" role="menu">
							  <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
							  <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
							  <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
							  <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
							  <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
							</ul>
						</div><!-- btn-group -->
						<div class="thmb-prev">
						  <a href="images/photos/report03.png" data-rel="prettyPhoto" rel="prettyPhoto">
							<img src="images/photos/report03.png" class="img-responsive" alt="">
						  </a>
						</div>
						<h5 class="fm-title"><a href="#">report01.png</a></h5>
						<small class="text-muted">Added: Dec 30, 2013</small>
					  </div><!-- thmb -->
					</div><!-- col-xs-5 -->

					<div class="col-xs-5 image">
					  <div class="thmb" style="background:#1d2939">
						<div class="ckbox ckbox-default">
						  <input type="checkbox" id="check10" value="1">
						  <label for="check10"></label>
						</div>
						<div class="btn-group fm-group">
							<button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
							  <span class="caret"></span>
							</button>
							<ul class="dropdown-menu fm-menu" role="menu">
							  <li><a href="#"><i class="fa fa-share"></i> Share</a></li>
							  <li><a href="#"><i class="fa fa-envelope-o"></i> Email</a></li>
							  <li><a href="#"><i class="fa fa-pencil"></i> Edit</a></li>
							  <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
							  <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
							</ul>
						</div><!-- btn-group -->
						<div class="thmb-prev">
						  <a href="images/photos/report04.png" data-rel="prettyPhoto" rel="prettyPhoto">
							<img src="images/photos/report04.png" class="img-responsive" alt="">
						  </a>
						</div>
						<h5 class="fm-title"><a href="#">report01.png</a></h5>
						<small class="text-muted">Added: Dec 30, 2013</small>
					  </div><!-- thmb -->
					</div><!-- col-xs-5 -->


					</div><!-- row -->
				</div>
			</div><!-- content panel-->
					
		  </div><!-- panel-body -->
		</form>
	  </div><!-- panel body-->
	</div>
</div>

  
</section>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>

<script src="js/jquery.autogrow-textarea.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>
<script src="js/jquery-ui-1.10.3.min.js"></script>

<script src="js/custom.js"></script>

<script>
jQuery(document).ready(function(){  
	// Chosen Select
	jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});

	// Date Picker
	jQuery('#buy_date').datepicker();
	jQuery('#start_use_date').datepicker();
	jQuery('#up_date').datepicker();
	jQuery('#atrophy_date').datepicker();
  
	// Input Masks
	jQuery("#datepicker").mask("99/99/9999");
	jQuery('#buy_date').mask("99/99/9999");
	jQuery('#start_use_date').mask("99/99/9999");
	jQuery('#up_date').mask("99/99/9999");
	jQuery('#atrophy_date').mask("99/99/9999");
});
</script>

</body>
</html>
