{% extends "base.html" %} 
{% block content %}
<div class="contentpanel">
	<div class="row">
		<div class="col-sm">
			<div class="row filemanager">
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<div class="thmb-prev">
							<a href="/increment-asset/" data-rel="prettyPhoto"  style="background-color: #fff;"
								rel="prettyPhoto"> <img src="/images/03.png"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/increment-asset/">TĂNG TÀI SẢN </a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<div class="thmb-prev">
							<a href="/decrement-asset/" data-rel="prettyPhoto"  style="background-color: #fff;"
								rel="prettyPhoto"> <img src="/images/02.png"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/decrement-asset/">GIẢM TÀI SẢN</a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<div class="thmb-prev">
							<a href="/join-asset/" data-rel="prettyPhoto" style="background-color: #fff;"
								rel="prettyPhoto"> <img src="/images/01.png"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/join-asset/">GỘP TÀI SẢN</a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<!-- btn-group -->
						<div class="thmb-prev">
							<a href="/release-asset/" data-rel="prettyPhoto"  style="background-color: #fff;"
								rel="prettyPhoto"> <img src="/images/04.png"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/release-asset/">TÁCH TÀI SẢN</a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<!-- btn-group -->
						<div class="thmb-prev">
							<a href="/amortize-asset/" data-rel="prettyPhoto" style="background-color: #fff;"
								rel="prettyPhoto"> <img src="/images/5.png"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/amortize-asset/">TÍNH KHẤU HAO</a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<!-- btn-group -->
						<div class="thmb-prev">
							<a href="/verify-asset/" data-rel="prettyPhoto" style="background-color: #fff;"
								rel="prettyPhoto"> <img src="/images/7.png"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/verify-asset/">KIỂM KÊ TS</a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<!-- btn-group -->
						<div class="thmb-prev">
							<a href="/evaluation-asset/" data-rel="prettyPhoto" style="background-color: #fff;"
								rel="prettyPhoto"> <img src="/images/8.png"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/evaluation-asset/">ĐÁNH GIÁ LẠI TS</a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
				
				<div class="col-xs-6 col-sm-4 col-md-3 image">
					<div class="thmb">
						<!-- btn-group -->
						<div class="thmb-prev">
							<a href="/transfer-asset/" data-rel="prettyPhoto" style="background-color: #fff;"
								rel="prettyPhoto"> <img src="/images/9.png"
								class="img-responsive" alt="" style="height: 220px" >
							</a>
						</div>
						<h5 class="fm-title" style="text-align: center;">
							<a href="/transfer-asset/">CHUYỂN TÀI SẢN</a>
						</h5>
					</div>
					<!-- thmb -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.datatables.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>

<script src="/js/custom.js"></script>

<script src="/js/message.js"></script>
<script>
	jQuery(document).ready(function() 
	{
		message =  $.message.confirm("This is confirm message!");
		message.on('message.close',function(){
		});
		
		message.on('message.confirm',function(){
		});
	});
</script>
{% endblock scripts%}
