{% load i18n %}
<div class="leftpanel">
	<div class="leftpanelinner" style="background: #1d2939">
		<div class="logopanel"
			style="padding: 0px; margin-bottom: 15px; text-align: center;">
			<h1>{% trans 'FMS - Ver 2.0'%} </h1>
		</div>
		<!-- logopanel -->
		<ul class="nav nav-pills nav-stacked nav-bracket">
			<li><a href="{% url 'home' %}"><i class="fa fa-home"></i> <span>{% trans 'TRANG CHỦ'%} </span></a></li>
			<li class="nav-parent"><a href="#"><i
					class="fa fa-building-o"></i> <span>{% trans 'CHỨC NĂNG'%} </span></a>
				<ul class="children">
					<li><a href="/join-asset/"><i class="fa fa-caret-right"></i>{% trans 'GỘP TÀI SẢN'%}
					<li><a href="/decrement-asset/"><i
							class="fa fa-caret-right"></i>{% trans 'GIẢM TÀI SẢN'%} </a></li>
					<li><a href="{% url 'increment-asset' %}"><i
							class="fa fa-caret-right"></i>{% trans 'TĂNG TÀI SẢN'%} </a></li>
					<!-- <li><a href="/revaluate-asset/"><i class="fa fa-caret-right"></i>
							<span>ĐÁNH GIÁ LẠI TS</span></a></li> -->
					
							</a></li>
					<li><a href="/release-asset/"><i class="fa fa-caret-right"></i>{% trans 'TÁCH TÀI SẢN'%}
							</a></li>
					<li><a href="/distribute-asset/"><i class="fa fa-caret-right"></i>{% trans 'PHÂN BỔ TÀI SẢN'%}</a></li>
					<li><a href="/verify-asset/"><i class="fa fa-caret-right"></i>
							{% trans 'KIỂM KÊ TÀI SẢN'%}</a></li>
					<li><a href="/view-asset/"><i class="fa fa-caret-right"></i>
							TRA CỨU TÀI SẢN</a></li>
					<li><a href="/upgrade-asset/"><i class="fa fa-caret-right"></i>{% trans 'NÂNG CẤP TÀI SẢN'%}</a></li>
					<li><a href="/amortize-asset/"><i
							class="fa fa-caret-right"></i>{% trans 'KHẤU HAO TÀI SẢN'%} </a></li>
					<li><a href="/evaluation-asset/"><i
							class="fa fa-caret-right"></i>{% trans 'ĐÁNH GIÁ LẠI TÀI SẢN'%}</a></li>
					<li><a href="/transfer-asset/"><i
							class="fa fa-caret-right"></i>{% trans 'ĐIỀU CHUYỂN TÀI SẢN'%}</a></li>
				</ul></li>
			<li class="nav-parent"><a href="#"><i class="fa fa-bar-chart-o"></i> <span>{% trans 'BÁO CÁO'%}</span></a>
				<ul class="children">
					<li><a href="/card-asset/"><i class="fa fa-caret-right"></i>{% trans 'THẺ TÀI SẢN'%}</a></li>
					<li><a href="/report/verify-asset-report/"><i class="fa fa-caret-right"></i>{% trans 'BCTS KIỂM KÊ'%}</a></li>
					<li><a href="/report/asset-inventory-report/"><i class="fa fa-caret-right"></i>{% trans 'BCTS TỔNG HỢP'%}</a></li>
					<li><a href="/report/asset_amortization_report/"><i class="fa fa-caret-right"></i>{% trans 'BCTS KH CƠ BẢN'%}</a></li>
					<li><a href="/report/asset_change_report/"><i class="fa fa-caret-right"></i>{% trans 'BCTS TĂNG GIẢM '%}</a></li>
					<li><a href="/report/asset-by-project-report/"><i class="fa fa-caret-right"></i>{% trans 'BCTS THEO DỰ ÁN'%}</a></li>
					<li><a href="/report/asset_sum_amortization_report/"><i class="fa fa-caret-right"></i>{% trans 'BCTS KH ĐỊNH KHOẢN'%}</a></li>
					<li><a href="/report/asset_daily_report/"><i class="fa fa-caret-right"></i>{% trans 'BCTS HIỆN TRẠNG TSCĐ'%}</a></li>
					
				</ul>
			</li>
			<!-- Tiện ích -->
			<li class="nav-parent"><a href="#"><i
					class="fa fa-file-text"></i> <span>{% trans 'TIỆN ÍCH'%}</span></a>
				<ul class="children">
					<li><a href="{% url 'import-asset'%}"><i class="fa fa-caret-right"></i>{% trans 'THÊM TS TỪ FILE' %}</a></li>
					<li><a href="{% url 'import-department'%}"><i class="fa fa-caret-right"></i>{% trans 'THÊM PB TỪ FILE' %}</a></li>
				</ul>
			</li>
			<!-- END Tiện ích -->
			
			<li class="nav-parent"><a href="#"><i
					class="fa fa-file-text"></i> <span>{% trans 'DANH MỤC'%}</span></a>
				<ul class="children">
					<li><a href="/reason/"><i class="fa fa-caret-right"></i> {% trans 'LÝ DO'%}</a></li>
					<li><a href="/list-project/"><i class="fa fa-caret-right"></i>{% trans 'DỰ ÁN'%}</a></li>
					<li><a href="/capital/"><i class="fa fa-caret-right"></i>{% trans 'NGUỒN VỐN'%}</a></li>
					<li><a href="/asset-type/"><i class="fa fa-caret-right"></i>{% trans 'LOẠI TÀI SẢN'%}</a></li>
					<li><a href="/list-supplier/"><i class="fa fa-caret-right"></i>{% trans 'NHÀ CUNG CẤP'%}</a></li>
					<li><a href="/country/"><i class="fa fa-caret-right"></i>{% trans 'NƯỚC SẢN XUẤT'%}</a></li>
					<li><a href="/goal/"><i class="fa fa-caret-right"></i>{% trans 'MỤC ĐÍCH SỬ DỤNG'%}</a></li>
					<li><a href="/asset-state/"><i class="fa fa-caret-right"></i>{% trans 'TÌNH TRẠNG SỬ DỤNG'%}</a></li>
					<li><a href="/asset-volatility/"><i class="fa fa-caret-right"></i>{% trans 'BIẾN ĐỘNG TĂNG GIẢM'%}</a></li>
				</ul></li> 
				{% if user.is_superuser %}
				<li class="nav-parent"><a href="#"><i class="fa fa-cogs"></i>
					<span>{% trans 'TÀI KHOẢN/PB'%}</span></a>
				<ul class="children">
					<li><a href="{% url 'user' %}"><i class="fa fa-caret-right"></i>
							{% trans 'QL TÀI KHOẢN'%} </a></li>
					<li><a href="{% url 'app' %}"><i class="fa fa-caret-right"></i>
							{% trans 'QL ỨNG DỤNG'%} </a></li>
					<li><a href="{% url 'department' %}"><i class="fa fa-caret-right"></i>
							{% trans 'QL PHÒNG BAN'%} </a></li>
					<li><a href="{% url 'module' %}"><i class="fa fa-caret-right"></i>
							{% trans 'DS CHỨC NĂNG'%} </a></li>
					<li><a href="{% url 'group' %}"><i class="fa fa-caret-right"></i>
							{% trans 'DS NHÓM QUYỀN'%} </a></li>
							
				</ul></li> 
				{% endif %}
			<li><a href="/logout/"><i class="fa fa-sign-out"></i> <span>{% trans 'ĐĂNG XUẤT'%}</span></a></li>

			<div class="infosummary">
				<h5 class="sidebartitle">{% trans 'TRẠNG THÁI HỆ THỐNG'%}</h5>
				<ul>
					<li>
						<div class="datainfo">
							<span class="text-muted">{% trans 'Số lượng tài sản'%}</span>
							<h4>10,000</h4>
						</div>
						<div id="sidebar-chart2" class="chart"></div>
					</li>
					<li>
						<div class="datainfo">
							<span class="text-muted">{% trans 'Tổng nguyên giá'%}</span>
							<h4>82.2%</h4>
						</div>
						<div id="sidebar-chart3" class="chart"></div>
					</li>
					<li>
						<div class="datainfo">
							<span class="text-muted">{% trans 'Giá trị hiện tại'%}</span>
							<h4>140.05 - 32</h4>
						</div>
						<div id="sidebar-chart4" class="chart"></div>
					</li>
					<li>
						<div class="datainfo">
							<span class="text-muted">{% trans 'Số tài sản đang sử dụng'%}</span>
							<h4>32.2%</h4>
						</div>
						<div id="sidebar-chart5" class="chart"></div>
					</li>
				</ul>
			</div>
			<!-- infosummary -->
		</ul>
	</div>
	<!-- leftpanelinner -->
</div>
<!-- leftpanel -->