{% extends "base.html" %}
{% block styles %}
	<link href="../../css/style.default.css" rel="stylesheet">
{% endblock styles %}


			
{% block content %}
<div class="col-md">
	  <div class="panel panel-primary">
		<div class="panel-heading">
		  <h4 class="panel-title" style="text-align:center;line-height:10px">THÊM MỚI LÝ DO</h4>
		</div>
		<div class="panel-body">
			<form action="" class="form-horizontal form-bordered" method="post" novalidate="novalidate" id="formReason">
				{% csrf_token %}
						<div class="form-group ">
							<label class="col-sm-2 control-label">Mã lý do</label>
							<div class="col-sm-8">
								<input name= "txtReasonCode" type="text" placeholder="Mã lý do" class="form-control" value="" required maxlength="10">
							</div>
						</div>
						<div class="form-group ">
							<label class="col-sm-2 control-label">Tên lý do</label>
							<div class="col-sm-8">
								<input name= "txtReasonName" type="text" placeholder="Tên lý do" class="form-control" value="" required maxlength="200">
							</div>
						</div>
						<div class="form-group ">
							<label class="col-sm-2 control-label">Trạng thái</label>
							<div class="col-sm-8">
								<select  name="optStatus" class="form-control" required>
									<option value="1" selected>Hiệu lực</option>
									<option value="0">Hết hiệu lực</option>
								</select>
							</div>
						</div>
						<div class="form-group ">
							<label class="col-sm-2 control-label">Mô tả</label>
							<div class="col-sm-8">
								<input name= "txtDescription" type="text" placeholder="Mô tả" class="form-control" value="" maxlength="500">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<button class="btn btn-primary" onclick="return onValidate();">Lưu</button>&nbsp;
								<a class="btn btn-default" href="/reason/">Thoát</a>
							</div>
						 </div>
			</form>
	</div>
	</div>
</div>
{% endblock content %}
{% block scripts %}
<script src="../../js/jquery-1.10.2.min.js"></script>
<script src="../../js/jquery-migrate-1.2.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/modernizr.min.js"></script>
<script src="../../js/jquery.sparkline.min.js"></script>
<script src="../../js/toggles.min.js"></script>
<script src="../../js/retina.min.js"></script>
<script src="../../js/jquery.cookies.js"></script>

<script src="../../js/custom.js"></script>
<script src="../../js/jquery.validate.min.js"></script>
<script>
	function onValidate()
	{
		var $valid = jQuery('#formReason').valid();
		if (!$valid)
		{
			$validator.focusInvalid();
			return false;
		}
		alert("submit");
		jQuery('#formReason').submit();
	}
</script>
{% endblock scripts%}