{% extends "base.html" %} 
{% load i18n %}
{% block styles %}
<link href="/css/increment-asset.css" rel="stylesheet">
<link rel="stylesheet" href="/tree/css/zTreeStyle/zTreeStyle.css"
	type="text/css">
<style>
.ztree {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #617775;
	background: #f0f6e4;
	height: 520px;
	overflow-y: scroll;
	overflow-x: auto;
}

.ztree li span.button.add {
	margin-left: 2px;
	margin-right: -1px;
	background-position: -144px 0;
	vertical-align: top;
	*vertical-align: middle
}
</style>
{% endblock %}

{% block content %}
<div class="contentpanel no-padding">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"
				style="text-align: center; line-height: 10px">{% trans 'THÊM LOẠI TÀI SẢN' %}</h4>
		</div>
		<div class="panel-body" style="padding: 0 10px;">
			<div class="row row-pad-5">
				<form class="form-horizontal form-bordered" method="post" id="formAssetType" novalidate="novalidate" >
					{% csrf_token %}
					{% if has_error %}
						<div class="col-sm panel">
							<label class="error">{{ has_error }}</label>
						</div>
					{% endif %}
					<div class="row row-pad-5">
						<div class="col-lg">
							<label>{% trans 'Thuộc loại tài sản' %}</label> <input type="text" value="{{ parent_name }}"
								id = "txtParentName" placeholder="{% trans 'Thuộc loại tài sản' %}"
								class="form-control" disabled>
						</div>
					</div>
					<div class="row row-pad-5">
						<div class="col-lg-6">
							<label>{% trans 'Mã loại tài sản' %}</label> <input type="text"
								id="txtCode" name="txtCode" placeholder="{% trans 'Mã loại tài sản' %}"
								class="form-control" required maxlength="40">
						</div>
						<div class="col-lg-6">
							<label>{% trans 'Tên loại tài sản' %}</label> <input type="text"
								id="txtName" name="txtName" placeholder="{% trans 'Tên loại tài sản' %}"
								class="form-control" required maxlength="150">
						</div>
					</div>
					<div class="row row-pad-5">
						<div class="col-lg-6">
							<label>{% trans 'Tài khoản hạch toán' %}</label>
							<input type="text" id="account-no" name="txtAccountNo" 
							placeholder="{% trans 'Tài khoản hạch toán' %}" class="form-control" required>
						</div>
						<div class="col-lg-6" style="margin-bottom:2%;">
							<label>{% trans 'Thời gian khấu hao' %}</label>
							<input type="text" id="asset_interval" name="txtInterval" 
							placeholder="{% trans 'Thời gian khấu hao' %}" class="form-control" required>
						</div>
					</div>
					<div class="row row-pad-5">
						<div class="col-lg">
							<label>{% trans 'Mô tả' %}</label> 
							<input type="text"  class="form-control" id="txtDescription" name="txtDescription" rows="10" placeholder="Mô tả" maxlength="300"/>
						</div>
					</div>
					<div class="row row-pad-5">
						<div class="ckbox ckbox-default">
							<input id="ckStatus" type="checkbox" name="ckStatus"
								checked="checked" > <label for="ckStatus">{% trans 'Kích hoạt' %} </label>
						</div>
					</div>
					<div class="row row-pad-5">
						<div class="col-sm col-sm-offset-5">
							<button class="btn btn-primary" onclick="return onSubmit();">{% trans 'Thực hiện' %}</button>
							&nbsp; <a class="btn btn-default" href="/asset-type/">{% trans 'Thoát' %}</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/custom.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script>
jQuery(document).ready(function() {
});
function onSubmit() {
	var $valid = jQuery('#formAssetType').validate();
	if (!$valid) 
	{
		$validator.focusInvalid();
		return false;
	}
	jQuery('#formAssetType').submit();
}
</script>
{% endblock scripts%}
