{% extends "base.html" %} 
{% block styles %}
<link href="/css/increment-asset.css" rel="stylesheet">
<link rel="stylesheet" href="/tree/css/zTreeStyle/zTreeStyle.css"
	type="text/css">
<style>
.ztree {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #617775;
	background: #f0f6e4;
	height: 520px;
	overflow-y: scroll;
	overflow-x: auto;
}

.ztree li span.button.add {
	margin-left: 2px;
	margin-right: -1px;
	background-position: -144px 0;
	vertical-align: top;
	*vertical-align: middle
}
</style>
{% endblock %}

{% block content %}
<div class="contentpanel no-padding">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title"
				style="text-align: center; line-height: 10px">SỬA PHÒNG BAN</h4>
		</div>
		<div class="panel-body" style="padding: 0 10px;">
			<div class="row row-pad-5">
				<form class="form-horizontal form-bordered" method="post" id="formAssetType" novalidate="novalidate" >
					{% csrf_token %}
					{% if has_error %}
						<div class="col-sm panel">
							<label class="error">{{ has_error }}</label>
						</div>
					{% endif %}
					<div class="row row-pad-5">
						<div class="col-lg">
							<label>Thuộc loại tài sản</label>
							<select class="form-control chosen-select"
								data-placeholder="Thuộc loại tài sản" name = "slParent" required>
								<option value="">---Không thuộc loại tài sản nào---</option>
								{% for parent in parents %}
									{% if parent.id == asset.parent_id.id %}
										<option selected="selected" value="{{ parent.id }}">{{ parent.code }} - {{ parent.name }}</option>
									{% else %}
										<option value="{{ parent.id }}">{{ parent.code }} - {{ parent.name }}</option>
									{% endif %}
								{% endfor%}
							</select>
							<!--<label for="slParent" class="error" style="display: none;">Trường không được để trống</label>-->
						</div>
					</div>
					<div class="row row-pad-5">
						<div class="col-lg-6">
							<label>Mã loại tài sản</label> <input type="text" value="{{ asset.code }}"
								id="txtCode" name="txtCode" placeholder="Mã loại tài sản"
								class="form-control" required maxlength="10">
						</div>
						<div class="col-lg-6">
							<label>Tên loại tài sản</label> <input type="text" value="{{ asset.name }}"
								id="txtName" name="txtName" placeholder="Tên loại tài sản"
								class="form-control" required maxlength="150">
						</div>
					</div>
					<div class="row row-pad-5">
						<div class="col-lg-6">
							<label>Tài khoản hạch toán</label>
							<input type="text" id="account-no" name="txtAccountNo"  value="{{ asset.account_no }}" 
								placeholder="Tài khoản hạch toán" 
								class="form-control" required >
						</div>
						<div class="col-lg-6" style="margin-bottom:2%;">
							<label>Thời gian khấu hao</label>
							<input type="text" id="asset_interval" name="txtInterval"  value="{{ asset.interval }}" 
								placeholder="Thời gian khấu hao" class="form-control" 
								required >
						</div>
					</div>
					<div class="row row-pad-5">
						<div class="col-lg">
							<label>Mô tả</label> <input type="text" value="{{ asset.description }}"
								id="txtDescription" name="txtDescription" placeholder="Mô tả"
								class="form-control"  maxlength="300">
						</div>
					</div>
					<div class="row row-pad-5">
						<div class="ckbox ckbox-default">
							{% if asset.status == '0' %}
							<input id="ckStatus" type="checkbox" name="ckStatus"
								> <label for="ckStatus">Kích
								hoạt </label>
							{% elif asset.status == '1' %}
							<input id="ckStatus" type="checkbox" name="ckStatus"
								checked="checked" > <label for="ckStatus">Kích
								hoạt </label>
							{% endif %}
						</div>
					</div>
					<div class="row row-pad-5">
						<div class="col-sm col-sm-offset-5">
							<button class="btn btn-primary" onclick="return onSubmit();">Thực
								hiện</button>
							&nbsp; <a class="btn btn-default" href="/asset-type/">Thoát</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>

<script src="/js/custom.js"></script>

<script>
jQuery(document).ready(function() {
	// Chosen Select
	$(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
});
function onSubmit() {
	var $valid = jQuery('#formAssetType').validate();
	if (!$valid) 
	{
		$validator.focusInvalid();
		return false;
	}
	jQuery('#formAssetType').submit();
};
</script>
{% endblock scripts%}
