{% extends "base.html" %}
{% load i18n %}
{% block styles %}
	<link href="../../css/style.default.css" rel="stylesheet">
{% endblock styles %}


			
{% block content %}
<div class="col-md">
	<div class="panel panel-primary">
		<div class="panel-heading">
		  <h4 class="panel-title" style="text-align:center;line-height:10px">{% trans 'THÊM MỚI LÝ DO' %}</h4>
		</div>
		<div class="panel-body">
			<div class="alert alert-info">
				<form action="" class="form-horizontal form-bordered" method="post" novalidate="novalidate" id="formReason">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-4">
							<label class="control-label">{% trans 'Mã lý do' %}</label>
							<input name= "txtReasonCode" id="txtReasonCode" type="text" style="padding: 8px;" placeholder="{% trans 'Mã lý do' %}" class="form-control" value="" required maxlength="20">
						</div>
						<div class="col-lg-4">
							<label class="control-label">{% trans 'Tên lý do' %}</label>
							<input name= "txtReasonName" type="text" style="padding: 8px;" placeholder="{% trans 'Tên lý do' %}" class="form-control" value="" required maxlength="200">
						</div>
						<div class="col-lg-4">
							<label class="control-label">{% trans 'Trạng thái' %}</label>
							<select  name="optStatus" class="form-control chosen-select" required>
								<option value="1" selected>{% trans 'Hiệu lực' %}</option>
								<option value="0">{% trans 'Hết hiệu lực' %}</option>
							</select>
						</div>
					</div>
					<div class="row ">
						<div class="col-lg-12">
							<label class="control-label">{% trans 'Mô tả' %}</label>
							<textarea class="form-control" name="txtDescription" rows="3" placeholder="{% trans 'Mô tả' %}" maxlength="500"></textarea>
						</div>
					</div>
					<div class="row" style="margin-top: 10px;">
						<div class="col-sm-offset-5">
							<button class="btn btn-primary" onclick="return onValidate();" style="min-width: 70px;">{% trans 'Lưu' %}</button>&nbsp;
							<a class="btn btn-default" href="/reason/" style="min-width: 70px;">{% trans 'Thoát' %}</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block scripts %}
<script src="../../js/jquery-1.10.2.min.js"></script>
<script src="../../js/jquery-migrate-1.2.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/modernizr.min.js"></script>
<script src="../../js/jquery.sparkline.min.js"></script>
<script src="../../js/toggles.min.js"></script>
<script src="../../js/retina.min.js"></script>
<script src="../../js/jquery.cookies.js"></script>
<script src="/js/chosen.jquery.min.js"></script>

<script src="../../js/custom.js"></script>
<script src="../../js/jquery.validate.min.js"></script>
<script>
	$(document).ready(function(){
		// Chosen Select
		$(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
		$("#txtReasonCode").on("keydown", function (e) {
			if(e.which === 32) 
				return false;
			});
	});
	function onValidate()
	{
		var $valid = jQuery('#formReason').valid();
		if (!$valid)
		{
			$validator.focusInvalid();
			return false;
		}
		jQuery('#formReason').submit();
	}
</script>
{% endblock scripts%}