{% extends "base.html" %}
{% load i18n %}
{% block styles %}
	<link href="css/custom.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/ui-lightness/jquery-ui.min.css"
	type="text/css">
{% endblock styles %}

{% block content %}
<div class="col-md">
	  <div class="panel panel-primary">
		<div class="panel-heading">
		  <h4 class="panel-title" style="text-align:center;line-height:10px">{% trans 'DANH MỤC LÝ DO' %}</h4>
		</div>
		<div class="panel-body">
			{% if has_error %}
				<div class="panel">
					<label id="error-text" class="error">{{ has_error }}</label>
				</div>
			{% endif %}
			
			<div class="table-responsive">
				<table class="table table-bordered" id="reasontable">
					<thead>
						<tr>
							<th style='width:5%; text-align:center;font-family: Arial,Helvetica,sans-serif;'>{% trans 'STT' %}</th>
							<th style='width:10%;text-align:center;font-family: Arial,Helvetica,sans-serif;'>{% trans 'MÃ LÝ DO' %}</th>
							<th style='width:30%;text-align:center;font-family: Arial,Helvetica,sans-serif;'>{% trans 'TÊN LÝ DO' %}</th>
							<th style='width:15%;text-align:center;font-family: Arial,Helvetica,sans-serif;'>{% trans 'TRẠNG THÁI' %}</th>
							<th style='width:35%;text-align:center;font-family: Arial,Helvetica,sans-serif;'>{% trans 'MÔ TẢ' %}</th>
							<th style='width:5%;text-align:center;font-family: Arial,Helvetica,sans-serif;'>{% trans 'SỬA/XÓA' %}</th>
						</tr>
					</thead>
					<tbody>
						{% for reason in reasons %}
						<tr class="odd gradeX" ondblclick="">
							<td>{{forloop.counter}}</td>
							<td><a href="/reason/{{ reason.id }}/">{{ reason.code }}</a></td>
							<td>{{ reason.name }}</td>
							{% if reason.status == '1' %}
								<td>{% trans 'Hiệu lực' %}</td>
							{% else %}
								<td>{% trans 'Hết hiệu lực' %}</td>
							{% endif %}
							<td>{{ reason.description }}</td>
							<td class="table-action">
								<a href="/reason/{{ reason.id }}/"><i class="fa fa-pencil"></i></a>
								<a href="#" onclick="deleteReason('{{ reason.id }}');" class="delete-row confirm"><i class="fa fa-trash-o"></i></a>
								<form method="post" id="deleteReason{{ reason.id }}" action="/reason/delete/{{ reason.id }}/">
									{% csrf_token %}
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			
			<!-- table-responsive -->

		</div>
		<!-- panel-body -->
		<div class="panel-footer">
				<a class="btn btn-success" href="/reason/add/">{% trans 'Thêm lý do' %}</a>
			</div>
	</div>
	<!-- panel -->
</div>
<div id="dialog-confirm" title="Xóa lý do?" >
  		<p><span style="float:left; margin:0 7px 20px 0;"></span>{% trans 'Bạn có chắc chắn muốn xóa lý do này không?' %}</p>
	</div>
{% endblock content %}

{% block scripts %}
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/toggles.min.js"></script>
<script src="/js/retina.min.js"></script>
<script src="/js/jquery.cookies.js"></script>

<script src="/js/jquery.autogrow-textarea.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jquery-ui-1.10.3.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.numeric.js"></script>
<script src="/js/jquery.datatables.min.js"></script>

<script src="/js/custom.js"></script>
<script>
	jQuery(document).ready(function() {
		$('#reasontable').dataTable({
			"sPaginationType" : "full_numbers"
		});
		$(".table-responsive  select").chosen({
			'min-width' : '150px',
			'white-space' : 'nowrap',
			disable_search_threshold : 10
		});
		$("#dialog-confirm" ).dialog({
			 autoOpen: false, 
			resizable: false,
			height:200,
			modal: true,
			buttons: {
				"Có": function() {
					var id=$("#dialog-confirm" ).data("id");
					$('#deleteReason' + id).submit();
					$( this ).dialog( "close" );
				},
				"Không": function() {
					$( this ).dialog( "close" );
				}
			}
		});
	});
	
	function deleteReason(reason_id)
	{
		$("#dialog-confirm" ).data("id",reason_id).dialog('open');
	}
</script>
{% endblock scripts%}